<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Conditions We Treat Page</Name>
    <Alias>Conditionswetreat</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Pages</Master>
    <AllowedTemplates>
      <Template>Index</Template>
    </AllowedTemplates>
    <DefaultTemplate>Index</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>