<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Testimonials</Name>
    <Alias>Testimonials</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>SpannedItemContainer</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Testimonial</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Children Count</Name>
      <Alias>childrenCount</Alias>
      <Type>Umbraco.Integer</Type>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Tab></Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</DocumentType>