@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>

@foreach (IPublishedContent child in Model.Children)
{
    if (child.DocumentTypeAlias == "Text")
    {
        Html.RenderPartial("_TextPartial", child);
    }
    else if (child.DocumentTypeAlias == "PhotoText")
    {
        Html.RenderPartial("_PhotoTextPartial", child);
    }
    else if (child.DocumentTypeAlias == "Video")
    {
        Html.RenderPartial("_VideoPartial", child);
    }
    else if (child.DocumentTypeAlias == "YouTubeVideo")
    {
        Html.RenderPartial("_YouTubeVideoPartial", child);
    }
    else if (child.DocumentTypeAlias == "Collapsible")
    {
        <div class="vc_text_separator" ></div>
        Html.RenderPartial("_AccordianPartial", child);
    }
    else if (child.DocumentTypeAlias.Equals("testimonial", StringComparison.CurrentCultureIgnoreCase))
    {
        Html.RenderPartial("TestimonialPartial", child);
    }
    else if (child.DocumentTypeAlias.Equals("testimonials", StringComparison.CurrentCultureIgnoreCase))
    {
        <div class="vc_text_separator" ></div>
        if (child.HasValue("heading"))
        {
    <div class="widget-title">@child.GetPropertyValue("heading") </div>
        }
    <div class="vc_row-fluid treatments-row">
        @Html.Partial("_ChildrenPartial", child)
    </div>
    }
}