<!-- follow -->
<section class="widget widget-follow">
    <ul>
        <li><a href="#"><i class="fa fa-rss"></i>150<br>
            Subscribers</a></li>
        <li><a href="#"><i class="fa fa-facebook"></i>5560<br>
            Fans</a></li>
        <li><a href="#"><i class="fa fa-twitter"></i>2300<br>
            Followers</a></li>
    </ul>
</section>
<!--/ follow -->
