<!-- appointment -->
<section class="widget widget-appointment">
    <div class="widget-title">Make an Appointment</div>
    <form action="#">
        <div class="row">
            <input type="text" placeholder="Full Name">
            <i class="fa fa-user"></i>
        </div>
        <div class="row">
            <input type="tel" placeholder="Phone Nomber">
            <i class="fa fa-phone"></i>
        </div>
        <div class="row">
            <input type="email" placeholder="Email Address">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="row">
            <input type="text" placeholder="Appointment Date">
            <i class="fa fa-calendar"></i>
        </div>
        <div class="row">
            <textarea cols="30" rows="5" placeholder="Message"></textarea>
            <i class="fa fa-align-left"></i>
        </div>
        <button class="button button-primary">Send Message</button>
    </form>
</section>
<!--/ appointment -->
