@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- help -->
<section class="widget widget-comments">
    <div class="widget-title">Quick Help</div>
    <div id="help-carousel" class="owl-carousel">
        <div class="item">
            <ul>
                <li>
                    <img src="/Content/pic/doctor-1.jpg" alt="">
                    <p><span class="date">Sed purus purus, tinc</span><br>
                        Bmolestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur.</p>
                </li>
                <li>
                    <img src="/Content/pic/doctor-2.jpg" alt="">
                    <p><span class="date">Sed purus purus</span><br>
                        Bmolestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur.</p>
                </li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li>
                    <img src="/Content/pic/doctor-3.jpg" alt="">
                    <p><span class="date">Tincidunt purus purus</span><br>
                        Bmolestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur.</p>
                </li>
                <li>
                    <img src="/Content/pic/doctor-4.jpg" alt="">
                    <p><span class="date">Purus purus, tincidunt</span><br>
                        Bmolestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur.</p>
                </li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li>
                    <img src="/Content/pic/doctor-2.jpg" alt="">
                    <p><span class="date">Bmolestie tincidunt</span><br>
                        Bmolestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur.</p>
                </li>
                <li>
                    <img src="/Content/pic/doctor-3.jpg" alt="">
                    <p><span class="date">Fusce purus, tincidunt</span><br>
                        Bmolestie ut eros. Fusce blandit, sapien eu sollicitudin consectetur.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--/ help -->
