@model IPublishedContent
@{
    Layout = "_TextPartial.cshtml";
}
@section BeforeContent {
    @{
        var photoUrl = ((UmbracoHelper)ViewBag.Umbraco).TypedMedia(Model.GetPropertyValue("photo")).Url;
    }
    <p>
        <img src="@photoUrl" alt=""/>
    </p>
}