@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout= "_TextPartial.cshtml";
}
@section BeforeContent {
    @{
        var photoUrl = Umbraco.TypedMedia(Model.Content.GetPropertyValue("photo")).Url;
    }
    <p>
        <img src="@photoUrl" alt=""/>
    </p>
}