@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    
    var IsInheritable = Model.DocumentTypeAlias.ToLower() != "text";
    var content = string.Format("<p>{0}</p><br><br>",
                        Model.GetPropertyValue<string>("text")
                                     .Replace('\n' + "", "</p><p>"));    
}
<article>
    <div class="typography">
        <h3>
            @Model.GetPropertyValue("heading")
        </h3>
        <p>
            <img src="@Umbraco.TypedMedia(Model.GetPropertyValue("photo")).Url" alt="@Model.GetPropertyValue("heading")"/>
        </p>
        @Html.Raw(content)
    </div>
</article>
