@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    IPublishedContent linkedContent;
}
<section class="widget typography">
    <div class="widget-title">Links</div>
    <div id="help-carousel" class="owl-carousel">
        @*
            Related Links Parent
        *@
        @foreach (IPublishedContent child in Model.Children(c => c.DocumentTypeAlias == "Link"))
        {
            linkedContent = Umbraco.TypedContent(child.GetPropertyValue<int>("relatedPage"));
            <div class="item">
                <h3>@linkedContent.Name</h3>
                <p>
                    <img src="@linkedContent.GetCropUrl("thumbnail", "thumb")" alt="@linkedContent.Name"/>
                </p>
            </div>
        }
    </div>
</section>
