@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var IsInheritable = Model.Content.DocumentTypeAlias.ToLower() != "text";
    var content = string.Format("<p>{0}</p><br><br>",
                        Model.Content.GetPropertyValue<string>("text")
                                     .Replace('\n' + "", "</p><p>"));
}
<article>
    <div class="typography">
        <h3>
            @Model.Content.GetPropertyValue("heading")
        </h3>
        @if (IsInheritable)
        {
            RenderSection("BeforeContent", required: false);
        }
        @Html.Raw(content)
        @if (IsInheritable)
        {
            RenderSection("AfterContent", required: false);
        }
    </div>
</article>
@if (IsInheritable)
{
    RenderBody();
}        