@model IPublishedContent
@{
    
    var IsInheritable = Model.DocumentTypeAlias.ToLower() != "text";
    var content = string.Format("<p>{0}</p><br><br>",
                        Model.GetPropertyValue<string>("text")
                                     .Replace('\n' + "", "</p><p>"));    
}
<article>
    <div class="typography">
        <h3>
            @Model.GetPropertyValue("heading")
        </h3>
        @Html.Raw(content)
    </div>
</article>
