@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_TextPartial";
}
@section BeforeContent {
    @{
        var videoUrl = Umbraco.TypedMedia(Model.Content.GetPropertyValue("video")).Url;
        var alt=  Model.Content.GetPropertyValue<string>("thumbnailImageAltValue") ?? string.Empty;
    }
    <p>
        <img src="@videoUrl" alt="@alt"/>
    </p>
}