@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var urlPrefix = (string)ViewBag.UrlPrefix;
    var url = string.Format("{1}/{0}", Model.Url.Split('/').Reverse().Skip(1).First(), urlPrefix);
}
<div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
    <div class="pic">
        <img src="@Model.GetCropUrl("thumbnail", "thumb")" alt="@Model.GetPropertyValue("heading")"/>
        <div class="links">
            <ul>
                <li><a href="@url" class="fa fa-mail-forward"></a></li>
                @*<li><a class="fa fa-video-camera fancybox" data-fancybox-type="iframe" href="http://www.youtube-nocookie.com/embed/eQQ2bFJQYEY"></a></li>*@
            </ul>
        </div>
    </div>
    <h3>@Model.GetPropertyValue("heading")</h3>
    <p></p>
</div>
