@model IPublishedContent
@{
    var cols = 12;
    var span = "";
    string spanNo;
}

<div class="grid-col grid-col-12" id="page-content">
    <div class="vc_row-fluid ">
        @foreach (IPublishedContent child in Model.Children)
        {
            span = child.GetPropertyValue<string>("span");
            cols = span.Contains("Less")
                        ? 3
                        : span.Contains("More")
                            ? 9
                            : span.Contains("Full")
                                ? 12
                                : 6;
            spanNo = "vc_span" + cols;
            <div class="@spanNo">
                @Html.Partial("_ChildrenPartial", child)
            </div>
        }
    </div>
</div>
