@model IPublishedContent
@{
    var cols = 12;
    var span = "";
    string spanNo;
}

@foreach (IPublishedContent child in Model.Children(c => c.IsVisible()))
{
    span = child.GetPropertyValue<string>("span");
    cols = span.Contains("Less")
                ? 3
                : span.Contains("More")
                    ? 9
                    : span.Contains("Full")
                        ? 12
                        : 6;
    spanNo = "vc_span" + cols;
    <div class="@spanNo">

        @if (child.HasProperty("appointmentWidget") && child.GetPropertyValue<bool>("appointmentWidget"))
        {
            Html.RenderPartial("_MakeAnAppointmentPartial");
        }
        @Html.Partial("_ChildrenPartial", child)
    </div>
}