@model IPublishedContent
@{
    var cols = 12;
    var span = "";
    var spanNo = string.Empty;

    span = Model.Parent.GetPropertyValue<string>("childrensSpan");
    cols = span.Contains("Less")
                ? 3
                : span.Contains("More")
                    ? 9
                    : span.Contains("Full")
                        ? 12
                        : 6;
    spanNo = "vc_span" + cols;

    <div class="@spanNo">
        <div class="widget testimonial">
            <div class="clearfix">
                <p>@Model.GetPropertyValue("Content")</p>
            </div>
            <div class="author">@Model.GetPropertyValue("Author")</div>
        </div>
    </div>
}




