@model IPublishedContent
@{
    var cols = 12;
    var span = string.Empty;
    
    cols = PurityBridge.Umbraco.Utility.GetSpanEquivalent(Model.Parent.GetPropertyValue<string>("childrensSpan"));
    span = "vc_span" + (cols * ((int)ViewBag.RowSpan))/12;

    <div class="@span vc_child">
        <div class="widget testimonial">
            <div class="clearfix">
                <p>@Model.GetPropertyValue("Content")</p>
            </div>
            <div class="author">@Model.GetPropertyValue("Author")</div>
        </div>
    </div>
}



