<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>RSS</Name>
    <Alias>SmartBlogRSS</Alias>
    <Icon>icon-rss</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Generally there should only be one RSS feed per blog but this may not always be the circumstance. Use this type of document to provide an RSS feed of your blog.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>SmartBlogMaster</Master>
    <AllowedTemplates>
      <Template>SmartBlogRSS</Template>
    </AllowedTemplates>
    <DefaultTemplate>SmartBlogRSS</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Title</Name>
      <Alias>smartBlogRssTitle</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Details</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of this RSS feed.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Description</Name>
      <Alias>smartBlogRssDescription</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Details</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The description of this RSS feed.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Image</Name>
      <Alias>smartBlogRssImage</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Details</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image to associate with this RSS feed.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Copyright</Name>
      <Alias>smartBlogRssCopyright</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Details</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The copyright text to accompany this RSS feed.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>218</Id>
      <Caption>Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>