<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>SmartBlog Blog</Name>
    <Alias>SmartBlogBlog</Alias>
    <Icon>icon-umb-content</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The root node for a SmartBlog Blog, under this type of document, you can create posts, dates and rss feeds.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <Master>SmartBlogArticle</Master>
    <AllowedTemplates>
      <Template>SmartBlogBlog</Template>
    </AllowedTemplates>
    <DefaultTemplate>SmartBlogBlog</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>SmartBlogArticle</DocumentType>
    <DocumentType>SmartBlogFolder</DocumentType>
    <DocumentType>SmartBlogRSS</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Disable Global Comments</Name>
      <Alias>disableGlobalComments</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Detail</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Disable global comments on this blog.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>219</Id>
      <Caption>Detail</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>