<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Article</Name>
    <Alias>SmartBlogArticle</Alias>
    <Icon>icon-umb-content</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this type of document if you just want to have a generic text page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>SmartBlogPage</Master>
    <AllowedTemplates>
      <Template>SmartBlogArticle</Template>
    </AllowedTemplates>
    <DefaultTemplate>SmartBlogArticle</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>SmartBlogArticle</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Body</Name>
      <Alias>smartBlogBody</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main body text to display on this post.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>215</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>