<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Master Items</Name>
    <Alias>masterItems</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>ContentMaster</DocumentType>
    <DocumentType>header</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>