<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Page Data</Name>
    <Alias>PageData</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>UnderConstruction</DocumentType>
    <DocumentType>GalleryData</DocumentType>
    <DocumentType>HomeData</DocumentType>
    <DocumentType>TreatmentsData</DocumentType>
    <DocumentType>ClinicData</DocumentType>
    <DocumentType>RightChoiceData</DocumentType>
    <DocumentType>SpecialistsData</DocumentType>
    <DocumentType>TeamData</DocumentType>
    <DocumentType>Conditionswetreatdata</DocumentType>
    <DocumentType>PriceListData</DocumentType>
    <DocumentType>ContactData</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Show Page Title</Name>
      <Alias>showPageTitle</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab></Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</DocumentType>