<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Column</Name>
    <Alias>Column</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ContentMaster</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Text</DocumentType>
    <DocumentType>PhotoText</DocumentType>
    <DocumentType>GeneralVideoItem</DocumentType>
    <DocumentType>YouTubeVideoItem</DocumentType>
    <DocumentType>List</DocumentType>
    <DocumentType>SpecificContentList</DocumentType>
    <DocumentType>Testimonial</DocumentType>
    <DocumentType>VideoData</DocumentType>
    <DocumentType>PhotosData</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Span</Name>
      <Alias>span</Alias>
      <Type>Umbraco.DropDown</Type>
      <Definition>18e17d89-04a9-499f-9ff8-691a5b1226e0</Definition>
      <Tab>Layout</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>110</Id>
      <Caption>Layout</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>159</Id>
      <Caption>Content</Caption>
      <SortOrder>9</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>