<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Conditions We Treat Data</Name>
    <Alias>Conditionswetreatdata</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>PageData</Master>
    <AllowedTemplates>
      <Template>ConditionsWeTreatData</Template>
    </AllowedTemplates>
    <DefaultTemplate>ConditionsWeTreatData</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>SpannedPhotoItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>