<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>InnerNavigationItem</Name>
    <Alias>Innernavigationitem</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>navigation</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Innernavigationitem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs>
    <Tab>
      <Id>111</Id>
      <Caption>Display</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>