<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Columns</Name>
    <Alias>columns</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Text</DocumentType>
    <DocumentType>PhotoText</DocumentType>
    <DocumentType>GeneralVideoItem</DocumentType>
    <DocumentType>YouTubeVideoItem</DocumentType>
    <DocumentType>Column</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>