<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Sub Content Page</Name>
    <Alias>SubContentPage</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Pages</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>SubContentPage</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>