<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Events Page</Name>
    <Alias>Events</Alias>
    <Icon>icon-umb-developer</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <Master>Pages</Master>
    <AllowedTemplates>
      <Template>Events</Template>
    </AllowedTemplates>
    <DefaultTemplate>Events</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>EventsYear</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>