<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>StudentClass</Name>
    <Alias>Studentclass</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <Master>Pages</Master>
    <AllowedTemplates>
      <Template>StudentTemplatePage</Template>
    </AllowedTemplates>
    <DefaultTemplate>StudentTemplatePage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Full Name</Name>
      <Alias>fullName</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>StudentPersonalDetails</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Age</Name>
      <Alias>age</Alias>
      <Type>Umbraco.Integer</Type>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Tab>StudentPersonalDetails</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Contact No</Name>
      <Alias>contactNo</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>StudentPersonalDetails</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>City</Name>
      <Alias>city</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>StudentPersonalDetails</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>SecondaryDetails</Name>
      <Alias>secondarydetails</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>StudentPersonalDetails</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>HigherSecondaryDetails</Name>
      <Alias>highersecondarydetails</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>StudentPersonalDetails</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>1267</Id>
      <Caption>StudentPersonalDetails</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>