@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.UrlPrefix = string.Empty;
}

<section class="widget photo-tour photo-tour-3" id="photo-tour">
    @{
        var url = "#";
        var treatmentsData = uQuery.GetNodesByType("TreatmentsData");
        if (treatmentsData.Any())
        {
            var urlName = Request.RawUrl.Split(new string[] { "/" }, StringSplitOptions.RemoveEmptyEntries).Last();
            var treatmentsDataChildren = treatmentsData.First().GetChildNodesByType("TreatmentsCategory").FirstOrDefault(cat => cat.UrlName == urlName).GetChildNodesByType("Treatment");
            umbraco.NodeFactory.Node matchedNode = null;
        <div class="grid isotope">
            @foreach (umbraco.NodeFactory.Node category in treatmentsDataChildren.WhereNotNull())
            {
                matchedNode = treatmentsDataChildren.FirstOrDefault(node => node.UrlName == category.UrlName);
                url = string.Format("{0}{1}{2}", Request.RawUrl, (Request.RawUrl.EndsWith("/") ? string.Empty : "/"), category.UrlName); ;
                <div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                    <div class="pic">
                        <img src="@Umbraco.TypedContent(matchedNode.Id).GetCropUrl("thumbnail", "thumb")" alt="@matchedNode.Name"/>
                        <div class="links">
                            <ul>
                                <li><a href="@url" class="fa fa-mail-forward"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3>@matchedNode.Name</h3>
                    <p></p>
                </div>
            }
        </div>
        }
    }
</section>
