@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.UrlPrefix = string.Empty;
    var treatmentsNode = uQuery.GetCurrentNode();
}

<section class="widget photo-tour photo-tour-3" id="photo-tour">
    @if (treatmentsNode.Children.Count > 0)
    {
        var url = "#";
        <div class="grid isotope">
            @foreach (umbraco.NodeFactory.Node category in treatmentsNode.Children)
            {
                url = "./" + category.UrlName;
                <div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                    <div class="pic">
                        <img src="@Umbraco.TypedContent(category.Id).GetCropUrl("thumbnail", "thumb")" alt="@category.GetProperty("heading")"/>
                        <div class="links">
                            <ul>
                                <li><a href="@url" class="fa fa-mail-forward"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3>@category.GetProperty("heading")</h3>
                    <p></p>
                </div>
            }
        </div>
    }
</section>
