<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blogs Page</Name>
    <Alias>BlogsPage</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <AllowedTemplates>
      <Template>BlogsPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>BlogsPage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>