@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<!-- benefits -->
<section class="benefits">
	<ul>
		@Umbraco.RenderMacro("ChildPagesContent_Script")
	</ul>
</section>
<!--/ benefits -->