<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Home Test</Name>
    <Alias>HomeTest</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Pages</Master>
    <AllowedTemplates>
      <Template>HomeTest</Template>
    </AllowedTemplates>
    <DefaultTemplate>HomeTest</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Highlights</DocumentType>
    <DocumentType>Slider</DocumentType>
    <DocumentType>HomeSliderContent</DocumentType>
    <DocumentType>HomeTreatmentContent</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>