@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- slider -->
<div class="slider-wrapper">
    <section class="slider" id="slider">
        <div class="ls-slide" data-ls="transition2d:9;slidedelay:7000;">
            <img src="~/Content/pic/medical-slide-1.jpg" alt="" class="ls-bg">

            <div class="intro ls-l" data-ls="offsetyin:top;offsetxin:0;durationin:2000;offsetyout:bottom;offsetxout:0;durationout:1000;" style="left: 80%; top: 35%;">
                @*<span class="icon fa fa-heart"></span>*@
                <h2><span>SYMPTOM</span>CHECKER</h2>
                <p>Vestibulum rutrum luctus porta. Maecenas elit nibh</p>
                <div class="buttons">
                    <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
                    <!--
								-->
                    <a href="#" class="button">Read More</a><!--
								--><a href="#" class="next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="ls-slide" data-ls="transition2d:40;slidedelay:7000;">
            <img src="~/Content/pic/medical-slide-2.jpg" alt="" class="ls-bg">

            <div class="intro ls-l" data-ls="scalexin:0.3;scaleyin:0.3;rotatexin:180;offsetxin:0;durationin:2000;durationout:2000;scalexout:2;scaleyout:2;offsetxout:0;fadeout:true;showuntil:3000;" style="left: 80%; top: 35%;">
                @*<span class="icon fa fa-comments"></span>*@
                <h2><span>HELP</span>ONLINE</h2>
                <p>Vestibulum rutrum luctus porta. Maecenas elit nibh</p>
                <div class="buttons">
                    <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
                    <!--
								-->
                    <a href="#" class="button">Read More</a><!--
								--><a href="#" class="next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="ls-slide" data-ls="transition2d:11;slidedelay:7000;">
            <img src="~/Content/pic/medical-slide-3.jpg" alt="" class="ls-bg">

            <div class="intro ls-l" data-ls="skewxin:30;skewyin:0;offsetxin:right;fadein:false;durationin:2000;durationout:1000;offsetxout:right;offsetyout:0;fadeout:true;" style="left: 80%; top: 35%;">
                @*<span class="icon fa fa-flask"></span>*@
                <h2><span>LAB</span>TESTING</h2>
                <p>Vestibulum rutrum luctus porta. Maecenas elit nibh</p>
                <div class="buttons">
                    <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
                    <!--
								-->
                    <a href="#" class="button">Read More</a><!--
								--><a href="#" class="next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>
<!--/ slider -->
