@using Umbraco.Web.Models
@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTitleBar = true;
    var details = Model.Content.Children(c => c.DocumentTypeAlias.Equals("details", StringComparison.InvariantCultureIgnoreCase));
    IEnumerable<IPublishedContent> sideBars = null;
    if(details.Any()) {
        sideBars = details.First().Children(c => c.DocumentTypeAlias.Equals("sidebar", StringComparison.InvariantCultureIgnoreCase)).Where("visible");
    }
    var cols = 12;
}

@if (sideBars != null && sideBars.Any())
{
    foreach (IPublishedContent sidebar in sideBars.DistinctBy(s => s.GetPropertyValue<bool>("Left")))
    {
        cols -= 3;
        if (sidebar.GetPropertyValue<bool>("Left"))
        {
    @section LeftSideBar {
        <div class="grid-col grid-col-3">
             @Html.Partial("_RelatedLinksPartial", sidebar)
        </div>
    }
        }
        else
        {
    @section RightSideBar {
        <div class="grid-col grid-col-3">
           @Html.Partial("_RelatedLinksPartial", sidebar)
        </div>
    }        
        }
    }
}

<div id="page-content" class="grid-col grid-col-@cols">
    @Html.Partial("_ChildrenPartial", details.First().Children().FirstOrDefault(c => c.DocumentTypeAlias.Equals("content",StringComparison.InvariantCultureIgnoreCase) && c.IsVisible()))
</div>