<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Year</Name>
    <Alias>EventsYear</Alias>
    <Icon>icon-umb-developer</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this type of document to store your posts by date, this is the preferred method of storing posts.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>EventsMaster</Master>
    <AllowedTemplates>
      <Template>Get</Template>
      <Template>SmartBlogBlog</Template>
    </AllowedTemplates>
    <DefaultTemplate>SmartBlogBlog</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>EventsMonth</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>