<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blogs</Name>
    <Alias>Blogs</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description />
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Pages</Master>
    <AllowedTemplates>
      <Template>Blogs</Template>
    </AllowedTemplates>
    <DefaultTemplate>Blogs</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>