<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>List Item</Name>
    <Alias>ListItem</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ContentMaster</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Related Page</Name>
      <Alias>relatedPage</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>4fe7496a-6cdf-4f24-862f-3672c99c2922</Definition>
      <Tab>Content</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>165</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>