<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>General Videos</Name>
    <Alias>video</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>SpannedItemContainer</Master>
    <AllowedTemplates>
      <Template>TreatmentVideos</Template>
    </AllowedTemplates>
    <DefaultTemplate>TreatmentVideos</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>YouTubeVideoItem</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Thumbnail</Name>
      <Alias>thumbnail</Alias>
      <Type>Umbraco.ImageCropper</Type>
      <Definition>2d3ae34d-2265-4df0-9f1d-b4378d49b88a</Definition>
      <Tab>Content</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Thumbnail Image ALT Value</Name>
      <Alias>thumbnailImageAltValue</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>SEO</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>148</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>240</Id>
      <Caption>SEO</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>