<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Events Master</Name>
    <Alias>EventsMaster</Alias>
    <Icon>icon-umb-developer</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The master document type, all document types should inherit from this.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>URL Alias</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab></Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use this to give a node multiple URLs.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</DocumentType>