@{
    Layout = "~/Views/Shared/_Layout.cshtml";
      ViewBag.Title = "Purity Bridge | The right choice";
}

    <div class="grid-row">
        <!-- benefits -->
        <section class="benefits">
            <ul>
                <li>
                    <div class="pic"><i class="fa fa-hospital-o"></i></div>
                    <div class="text">
                        <h2>The Clinic</h2>
                        @*<p>The private aesthetic clinic based in the heart of Royal Tunbridge Wells.</p>*@
                        <p>Description Here</p>
                        <a href="#" class="more"></a>
                    </div>
                </li>
                <li>
                    <div class="pic"><i class="fa fa-users"></i></div>
                    <div class="text">
                        <h2>The Team</h2>
                        <p>Description Here</p>
                        <a href="#" class="more"></a>
                    </div>
                </li>
                <li>
                    <div class="pic"><i class="fa fa-user-md"></i></div>
                    <div class="text">
                        <h2>The Consultants</h2>
                        <p>Description Here</p>
                        <a href="#" class="more"></a>
                    </div>
                </li>
                <li>
                    <div class="pic"><<i class="fa fa-road"></i></div>
                    <div class="text">
                        <h2>The Patient Journey</h2>
                        <p>Description Here</p>
                        <a href="#" class="more"></a>
                    </div>
                </li>
            </ul>
        </section>
        <!--/ benefits -->
    </div>

<div class="grid-row">
    <h1 class="main">The right choice</h1>
    <section class="services">
        <ul>
            <li>
                @* <div class="pic"><i class="fa fa-hospital-o"></i></div>*@
                <div class="text">
                    <h2>Bespoke asthetic surgery provided by Mr Marc Pacifico</h2>
                    <p>Purity Bridge is unique in that it is an independent private aesthetic clinic led by a fully accredited Consultant Plastic Surgeon. Mr Marc Pacifico already has a wealth of experience and a well established, thriving private practice focusing on providing bespoke aesthetic surgery to his patients.</p>
                    @*<a href="#" class="more fa fa-long-arrow-right"></a>*@
                </div>
            </li>
            <li>
                @*<div class="pic"><i class="fa fa-hospital-o"></i></div>*@
                <div class="text">
                    <h2>The care you receive at Purity Bridge is second to none.</h2>
                    <p>Marc's experience, care, enthusiasm and attention to detail permeates through the rest of the team ensuring that the care you receive at Purity Bridge is second to none.</p>
                    @*<a href="#" class="more fa fa-long-arrow-right"></a>*@
                </div>
            </li>
            <li>
                @*<div class="pic"><i class="fa fa-hospital-o"></i></div>*@
                <div class="text">
                    <h2>Purity Bridge at the forefront of cosmetic surgery and medicine. Ensured.</h2>
                    <p>The credibility, experience, background and ongoing work spearheading developments in plastic surgery undertaken by Marc ensures that Purity Bridge remains at the forefront of cosmetic surgery and medicine.</p>
                    @*<a href="#" class="more fa fa-long-arrow-right"></a>*@
                </div>
            </li>
            @*<li>
               
                <div class="text">
                    <h2>Marc's Achievements</h2>
                    <p>Marc has over 40 international peer-reviewed publications in the field of plastic and facial surgery, as well as numerous lectures, presentations and book chapters in specialist publications. </p>
                    
                </div>
            </li>*@
            <li>
                @*<div class="pic"><i class="fa fa-hospital-o"></i></div>*@
                <div class="text">
                    <h2>Another independent clinic providing equal experience, integrity and background. Quite Difficult.</h2>
                    <p>Many treatments we offer can be found elsewhere, but it is difficult to find another independent clinic that provides the experience, integrity and background of Purity Bridge. However, with new treatments, products and devices being introduced to the market increasingly frequently, here at Purity Bridge, we are careful to take on new products only once they have undergone rigorous testing, have been appropriately approved and have not had complications reported in the professional literature. You may not therefore see every latest medical appliance in the clinic, however that is by design.</p>
                    @*<a href="#" class="more fa fa-long-arrow-right"></a>*@
                </div>
            </li>
            <li>
                @*<div class="pic"><i class="fa fa-hospital-o"></i></div>*@
                <div class="text">
                    <h2>The Purity Bridge Promise</h2>
                    <p>At Purity Bridge, we understand how daunting undergoing a cosmetic treatment or surgical procedure can be. From your very first contact with the clinic, your pre operative consultations and treatment/surgery, through to your comprehensive after care programme we will ensure you are treated with respect and honesty by all members of the team and that you are professionally cared for every step of the way.</p>
                    <p>Communication is of paramount importance to us. Advised treatments will be explained to you in detail, including possible risks, adverse outcomes and possible alternative options, ensuring every decision you make is fully informed.</p>@*<a href="#" class="more fa fa-long-arrow-right"></a>*@
                </div>
            </li>
        </ul>
    </section>
</div>