<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Date</Name>
    <Alias>SmartBlogDate</Alias>
    <Icon>icon-calendar-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this type of document to store your posts by date, this is the preferred method of storing posts.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>SmartBlogMaster</Master>
    <AllowedTemplates>
      <Template>SmartBlogBlog</Template>
    </AllowedTemplates>
    <DefaultTemplate>SmartBlogBlog</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>