@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
    var eventPages = CurrentPage.Descendants("EventPage");
    var queryString = Request.QueryString;
    string qEventType = queryString["qEventType"];
    int qLoaded = Convert.ToInt32(queryString["qLoaded"]);
    DateTime qCurrentDate;
    //DateTime qNextDate;
    var isValidDate = DateTime.TryParse(queryString["qCurrentDate"], out qCurrentDate);
    if (!(isValidDate && qCurrentDate != DateTime.MinValue))
    {
        qCurrentDate = DateTime.Today;
    }
    //isValidDate = DateTime.TryParse(queryString["qNextDate"], out qNextDate);
    //if (!(isValidDate && qNextDate != DateTime.MinValue))
    //{
    //    qNextDate = DateTime.Today;
    //}

    ViewBag.EventPages = eventPages;
    ViewBag.EventType = qEventType;
    ViewBag.CurrentDate = qCurrentDate;
}
@section styles {
    <link href="~/css/events.css" rel="stylesheet" />
}
@section scripts {
    <script type="text/javascript">
        function execute(eventType) {
            var t = $("#tmplEventsContent");
            //var d = t.startDate;
            var h = $(t.html());
            $(".event.page-detail").html(h.find(".template-content").html());
            var navTemplate = $("#tmplEventsFooter").html();
            //debugger;
            //if (hasNextPage() == true) {
            //    $(".event.page-footer > .loadmore").html($(navTemplate).html());
            //}
        }

        function changeEventsType(type) {
            if ($(this).hasClass("active")) {
                return;
            }
            scrollTo(0, 0);
            var eventType = ""; // Call upcoming events
            if ($(this).hasClass("archived")) {
                // Call archived events
                eventType = "archived"
            }
            execute(eventType);
        }

        function loadMoreEvents() {
            //scrollTo(0, 0);
            var t = $("#tmplEventsContent");

            @*$.get("@Url.Action("GetEvents", "Events", new { d = "DATE", type="TYPE" })".replace("DATE", d).replace("TYPE", eventType), null, function (data) {

                //if (data.hasPreviousPage) {
                //    $(".event.page-footer > nav.backward").html(navTemplate.find(".backward").html());
                //}
            });*@

            //execute();
        }

        execute();
    </script>
}
<div id="page-content" class="grid-col grid-col-9">
    <div class="event page-header">
        <ul>
            <li class="active">
                Upcoming Events
            </li>
            <li>
                Archived Events
            </li>
        </ul>
    </div>
    <div class="event page-detail">
    </div>
    <div class="event page-footer">
        <span class="loadmore">&nbsp;</span>
    </div>
</div>
<div id="page-sidebar-right" class="grid-col grid-col-3">
    @Html.Partial("_RegisterForEvent")
</div>

@Html.Partial("_EventsTemplate")