@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@*@{
    var isHomePage = CurrentPage.Parent.Name == "home"
                        && CurrentPage.Name == "index";
}*@

<div class='divWhite'></div>
<div class='divColored'></div>
<!-- page header -->
<header class="page-header main-page">
    <!-- logo -->
    <section id="logo" class="logo">
        <div>
            <a href="/home/index">
                <img src='/Content/img/logo.png' alt='Purity Bridge'></a>
        </div>
    </section>
    <!--/ logo -->
		
	<!-- main nav -->
    <nav class="main-nav">
        <ul>
		@Umbraco.RenderMacro("NavigationScript", new {ismobile = false})
        </ul>
    </nav>
    <!--/ main nav -->
    <!-- mobile nav -->
    <nav id="mobile-main-nav" class="mobile-main-nav">
        <i class="fa fa-bars"></i><a href="#" class="opener">Navigation</a>
		<ul>
            <!-- Render Macro for mobile Nav -->
        </ul>
    </nav>
    <!--/ mobile nav -->
</header>
<!--/ page header -->