@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTitleBar = true;
}
<div id="header-404">
    <a>oh no! it&#8217;s a
    </a>
</div>
<div id="block-404">
    <div id="block-404-substrate">
    </div>
    <div id="block-404-icon">
    </div>
</div>
<div id="text-404">
    <div class="wpb_row vc_row-fluid">
        <!-- Full width column -->
        <div class="vc_span12 wpb_column column_container">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                        <h1>Looks like the page you are looking for does not exists
                        </h1>
                        If you come here from a bookmark, please remember to update your bookmark
                    </div>
                </div>
            </div>
        </div>
        <!--/ Full width column -->
    </div>
</div>
<div id="button-404">
    <a class="wpb_button wpb_wpb_button wpb_btn-arrow-right wpb_regularsize" href="/">go back to home page</a>
</div>
