<div class="grid-row">
    <h1 class="main"><i class="fa fa-bolt"></i>     Oops! This happens to the best of us :)</h1>
    <section class="services">
        <ul>
            <li style="width:100%">
                <div class="text">
                    <h2>This page is under construction.
                        <br />
                        <br />
                    </h2>
                    <p>Please visit in a while.</p>
                </div>
            </li>
    </section>
</div>