<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Treatment Details Page</Name>
    <Alias>TreatmentTemp</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>index</Master>
    <AllowedTemplates>
      <Template>Index</Template>
    </AllowedTemplates>
    <DefaultTemplate>Index</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Text</DocumentType>
    <DocumentType>PhotoText</DocumentType>
    <DocumentType>Collapsible</DocumentType>
    <DocumentType>SideBar</DocumentType>
    <DocumentType>content</DocumentType>
    <DocumentType>columns</DocumentType>
    <DocumentType>Details</DocumentType>
    <DocumentType>photo</DocumentType>
    <DocumentType>video</DocumentType>
    <DocumentType>TreatmentVideos</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Colour</Name>
      <Alias>colour</Alias>
      <Type>Spectrum.Color.Picker</Type>
      <Definition>433fe64c-1a7c-428f-a95d-91e2da009a93</Definition>
      <Tab>Thumbnail</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Thumbnail</Name>
      <Alias>thumbnail</Alias>
      <Type>Umbraco.ImageCropper</Type>
      <Definition>2d3ae34d-2265-4df0-9f1d-b4378d49b88a</Definition>
      <Tab>Thumbnail</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Price</Name>
      <Alias>price</Alias>
      <Type>Umbraco.Integer</Type>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Tab>Price List</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Price List</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>113</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>114</Id>
      <Caption>Thumbnail</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Id>166</Id>
      <Caption>Price List</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>