@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- page footer -->
<footer class="page-footer">
    <a href="#" id="top-link" class="top-link"><i class="fa fa-angle-double-up"></i></a>
    <div class="grid-row" style="margin-bottom:0px">
        <div class="vc_row-fluid">
            <div class="vc_span8">
                <ul>
                    @*<li class="logos">
                        <div class="vc_row-fluid">
                            <div class="vc_span3">
                                <a href="#">
                                    <img src="/Content/images/logo1.png" alt="Logo 1"></a>
                            </div>
                            <div class="vc_span4">
                                <a href="#">
                                    <img src="/Content/images/logo2.png" alt="Logo 2"></a>
                            </div>
                            <div class="vc_span2">
                                <a href="#">
                                    <img src="/Content/images/logo3.png" alt="Logo 3"></a>
                            </div>
                            <div class="vc_span3">
                                <a href="#">
                                    <img src="/Content/images/logo4.png" alt="Logo 4"></a>
                            </div>
                        </div>
                    </li>*@
                    <li>
                        <a target="_blank" href="http://www.cqc.org.uk/" class="footer-logo">
                            <img width="158" height="50" alt="" src="/Content/images/logo5.png">
                        </a></li>
                    <li>
                        <p>Purity Bridge is based within Tunbridge Wells Plastic Surgery Limited, registered in England &amp; Wales with number 8226611. Tunbridge Wells Plastic Surgery Ltd is registered and regulated by The Care Quality Commission.</p>
                    </li>
                </ul>
                @*<div class="grid-col grid-col-6">
            <section class="widget-alt">
            </section>
        </div>*@
            </div>
            <div class="vc_span4">
                <div class="vc_row-fluid">
                    <section class="widget-alt location">
                        @*<div class="widget-icon"></div>
                <div class="widget-title">Location</div>*@
                        <div class="vc_span6">
                            <ul>
                                <li><i class="fa fa-phone"></i>+44 (0)1892 536960</li>
                                <li><i class="fa fa-envelope"></i>abc@youremail.com</li>
                                <li><i class="fa fa-skype"></i>+44 (0)1892 536960</li>
                            </ul>
                        </div>
                        <div class="vc_span6">
                            <address style="text-align: right">
                                Purity Bridge
                   
                        <br />
                                Tunbridge Wells Plastic Surgery Ltd
                   
                        <br />
                                6 Mount Ephraim
                   
                        <br />
                                Tunbridge Wells
                   
                        <br />
                                Kent
                   
                        <br />
                                United Kingdom
                   
                        <br />
                                TN4 8AS
                            </address>
                            <nav style="float: right">
                                <a href="https://twitter.com/PurityBridgeTW" class="fa fa-twitter"></a>
                                <a href="https://www.facebook.com/puritybridgetw" class="fa fa-facebook"></a>
                            </nav>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ page footer -->
