@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- page footer -->
<footer class="page-footer">
    <a href="#" id="top-link" class="top-link"><i class="fa fa-angle-double-up"></i></a>
    <div class="grid-row">
        <div class="grid-col grid-col-3">
            <!-- location -->
            <section class="widget-alt location">
                <div class="widget-icon"></div>
                <div class="widget-title">Location</div>
                <address>
                    Purity Bridge
                    Tunbridge Wells Plastic Surgery Ltd
                    6 Mount Ephraim
                    Tunbridge Wells
                    Kent
                    United Kingdom
                    TN4 8AS
                </address>
                <ul>
                    <li><i class="fa fa-phone"></i>+44 (0)1892 536960</li>
                    <li><i class="fa fa-envelope"></i>abc@youremail.com</li>
                    <li><i class="fa fa-skype"></i>+44 (0)1892 536960</li>
                </ul>
                <nav>
                    <a href="https://twitter.com/PurityBridgeTW" class="fa fa-twitter"></a>
                    <a href="https://www.facebook.com/puritybridgetw" class="fa fa-facebook"></a>
                </nav>
            </section>
            <!--/ location -->
        </div>

        <div class="grid-col grid-col-6">
            <!-- last news -->
            <section class="widget-alt recent-posts">
                <div class="widget-icon"></div>
                <div class="widget-title">Recent Posts</div>
                <ul>
                    <li>
                        <a href="#">
                            <img src="/Content/pic/post/1.png" width="80" height="80" alt=""></a>
                        <p>
                            <a href="#">New study links lutein with eye health benefits, consectetur adipiscing</a><br>
                            5 months ago
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/Content/pic/post/2.png" width="80" height="80" alt=""></a>
                        <p>
                            <a href="#">Pets may reduce risk of heart disease, et congue dolor heart</a><br>
                            8 months ago
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/Content/pic/post/3.png" width="80" height="80" alt=""></a>
                        <p>
                            <a href="#">Discoveries offer a new explanation for diabetes, consectetur</a><br>
                            10 months ago
                        </p>
                    </li>
                </ul>
            </section>
            <!--/ last news -->
        </div>
    </div>
</footer>
<!--/ page footer -->
