@inherits Umbraco.Web.Mvc.UmbracoViewPage<umbraco.NodeFactory.Node>
@{
    var highlights = Model.ChildrenAsList.Where(child => child.NodeTypeAlias == "HighlightItem" && child != null);
}
<link href="~/Content/css/benefits.css" rel="stylesheet" />
@if (highlights.Any())
{
    <div class="grid-row">
        <!-- benefits -->
        <ul class="grid cs-style-3">
            @foreach (umbraco.NodeFactory.Node highlightItem in highlights)
            {
                var url = string.IsNullOrEmpty(highlightItem.GetProperty<string>("relatedTo"))
                            ? "/underconstruction"
                            : Umbraco.TypedContent(highlightItem.GetProperty<int>("relatedTo")).Url;
                <li>
                    <figure class="cs-hover">
                        <img alt="@highlightItem.GetProperty("heading")" src="@Umbraco.TypedContent(highlightItem.Id).GetCropUrl("thumbnail", "thumb")">

                        <a href="@url"><figcaption>
                            <h3>@highlightItem.GetProperty("heading")</h3>
                        </figcaption></a>
                    </figure>
                    <p></p>
                </li>
            }
        </ul>
    </div>
}
