@inherits Umbraco.Web.Mvc.UmbracoViewPage<umbraco.NodeFactory.Node>
@{
    var highlights = Model.ChildrenAsList.Where(child => child.NodeTypeAlias == "HighlightItem" && child != null);
}

@if (highlights.Any())
{
    <div class="grid-row">
        <!-- benefits -->
        <section class="benefits">
            <ul>
                @foreach (umbraco.NodeFactory.Node highlightItem in highlights)
                {
                    var url = string.IsNullOrEmpty(highlightItem.GetProperty<string>("relatedTo"))
                                ? "/underconstruction"
                                : Umbraco.TypedContent(highlightItem.GetProperty<int>("relatedTo")).Url;
                    <li>
                        <div class="pic"><i class="fa fa-@highlightItem.GetProperty("icon")"></i></div>
                        <div class="text">
                            <h2>@highlightItem.GetProperty("heading")</h2>
                            <p>@highlightItem.GetProperty("description")</p>
                            <a href="@url" class="more"></a>
                        </div>
                    </li>
                }
            </ul>
        </section>
    </div>
}