@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- quick search -->
<div id="quick-search" class="quick-search">
  <div class="grid-row">
    <i class="fa fa-phone"> </i> 01892 536960
  </div>
</div>
<!--/ quick search -->
