@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var sliders = Model.Content.AncestorOrSelf(2).Children(c => c.DocumentTypeAlias.ToLower() == "slider").FirstOrDefault();
}
<!-- slider -->
<div class="slider-wrapper">
    <section class="slider" id="slider">
        @{
            var url = "";
            var transiton = "";
            var slideDuration = 0;
            var textDuration = 0;
            var slideTransition = "";
        }
        @if (sliders != null)
        {
            foreach (IPublishedContent slider in sliders.Children)
            {
                url = Umbraco.TypedMedia(slider.GetPropertyValue("filepath")).Url;
                textDuration = (int)((slider.GetPropertyValue<int>("delay") * 0.2851) * 1000);
               
                slideTransition = slider.GetPropertyValue<int>("slideTransition") <= 0 ? "111" : slider.GetPropertyValue<int>("slideTransition") + "";
                
                if (slider.GetPropertyValue<string>("textTransition").ToLower() == "skew")
                {
                transiton = "skewxin:30;skewyin:0;offsetxin:right;fadein:false;durationin:" + textDuration + ";durationout:" + (textDuration / 2) + ";offsetxout:right;offsetyout:0;fadeout: true;";
                }
                else if (slider.GetPropertyValue<string>("textTransition").ToLower() == "rotate")
                {
                    slideDuration = (int)((slider.GetPropertyValue<int>("delay") * 0.428) * 1000);
                    transiton = "scalexin:0.3;scaleyin:0.3;rotatexin:180;offsetxin:0;durationin:" + textDuration + ";durationout:" + textDuration + ";scalexout:2;scaleyout:2;offsetxout:0;fadeout: true;showuntil:" + slideDuration + ";";
                }
                else
                {
                    transiton = " offsetyin:top;offsetxin:0;durationin:" + textDuration + ";offsetyout:bottom;offsetxout: 0;durationout:" + (textDuration / 2) + ";";
                }
                
            <div class="ls-slide" data-ls='transition2d:@slideTransition;slidedelay:@slider.GetPropertyValue("delay")000;'>
                <img src="@url" alt="" class="ls-bg">
                <div class="intro ls-l" data-ls='@transiton;' style='left: 80%; top: 35%;'>
                    <h2><span>@slider.GetPropertyValue("line1")</span><span>@slider.GetPropertyValue("line2")</span></h2>
                    <p>@slider.GetPropertyValue("description")</p>
                    <div class="buttons">
                        <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
                        <a href="#" class="button">Read More</a>
                        <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            }
        }
    </section>
</div>
<!--/ slider -->
