<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Header</Name>
    <Alias>header</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <Master>masterItems</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>navigation</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>