<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Link</Name>
    <Alias>Link</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Related Page</Name>
      <Alias>relatedPage</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>115</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>