<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>EC_Calendar</Name>
    <Alias>ECCalendar</Alias>
    <Icon>icon-calendar-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates>
      <Template>ECCalendar</Template>
      <Template>ECCalendarCatFilter</Template>
    </AllowedTemplates>
    <DefaultTemplate>ECCalendar</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>ECEventDetails</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Calendar</Name>
      <Alias>calendar</Alias>
      <Type>EventCalendar.CalendarPicker</Type>
      <Definition>ecc150bf-fdbe-43d1-bd60-412dc956d27b</Definition>
      <Tab>Calendar</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>1266</Id>
      <Caption>Calendar</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>