<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Page Content</Name>
    <Alias>ContentItem</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>UnderConstruction</DocumentType>
    <DocumentType>Gallery</DocumentType>
    <DocumentType>Home</DocumentType>
    <DocumentType>Treatments</DocumentType>
    <DocumentType>Location</DocumentType>
    <DocumentType>theclinic</DocumentType>
    <DocumentType>TheRightChoice</DocumentType>
    <DocumentType>Conditionswetreat</DocumentType>
    <DocumentType>PriceList</DocumentType>
    <DocumentType>Blogs</DocumentType>
    <DocumentType>Newsletters</DocumentType>
    <DocumentType>HomeTest</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>