<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Photo Text Content</Name>
    <Alias>PhotoTextContent</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <AllowedTemplates>
      <Template>PhotoTextContent</Template>
    </AllowedTemplates>
    <DefaultTemplate>PhotoTextContent</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>TheRightChoice</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>