<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Content</Name>
    <Alias>content</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ContentMaster</Master>
    <AllowedTemplates>
      <Template>Layout</Template>
      <Template>rightChoiceIndex</Template>
    </AllowedTemplates>
    <DefaultTemplate>Layout</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Text</DocumentType>
    <DocumentType>Collapsible</DocumentType>
    <DocumentType>columns</DocumentType>
    <DocumentType>Testimonials</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs>
    <Tab>
      <Id>103</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>