li.after {
    margin-left: -5px;
}

.ca-image li:last-child {
    margin-right: 0px;
}

.ca-image li a {
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: rgba(0, 171, 165, 0.9);
    position: relative;
}

.ca-icon {
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 40px;
    color: rgba(0, 171, 165, 0.9);
    line-height: 60px;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 30px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}

.ca-main {
    font-size: 24px;
    position: absolute;
    top: 110px;
    height: 80px;
    width: 170px;
    left: 50%;
    margin-left: -85px;
    opacity: 0.8;
    text-align: center;
    color: rgba(0, 171, 165, 0.9);
}

.ca-sub {
    display: none;
}

section:not(.fancybox-content) .ca-image li:hover {
    border: 1px solid #fff;
    z-index: 999;
    background: rgb(0, 171, 165);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.ca-image li.before:hover {
    margin-left: 27px;
}

.ca-image:hover li.after:not(:hover) {
    margin-left: -27px;
}

.ca-image li.after:hover {
    margin-left: -23px;
}

.ca-image:hover li.before:not(:hover) {
    margin-left: 0px;
}

.ca-image li:hover .ca-icon {
    color: #fff;
    font-size: 60px;
    text-shadow: 0px 0px 1px #000;
    -webkit-animation: moveFromBottom 300ms ease;
    -moz-animation: moveFromBottom 300ms ease;
    -ms-animation: moveFromBottom 300ms ease;
}

.ca-image li:hover .ca-content p {
    background: rgba(0, 171, 165, 0.5);
    color: #fff;
}

.ca-image li:hover .ca-main {
    color: #fff;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0%) scale(1);
        opacity: 1;
    }
}

@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }

    to {
        -moz-transform: translateY(0%) scale(1);
        opacity: 1;
    }
}

@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }

    to {
        -ms-transform: translateY(0%) scale(1);
        opacity: 1;
    }
}

.item {
    /* margin: 25px 0px 0px 0px; */
    padding: 42px 15px 0px 15px;
}

.fancybox-content.photo-tour.photo-tour-1 .item {
    width: 100%;
    height: 80%;
}

.pic {
    display: inline-block;
    width: 100%;
    padding: 30px 0px 22px 0px !important;
    height: 100%;
}

.fancybox-content .pic {
    width: 80% !important;
    height: 90% !important;
}

.pic .ca-image {
    position: relative;
    height: 100%;
}

    .pic .ca-image li {
        width: 47%;
/* height: 100%; */
background-color: #00aba5 !important;
border-radius: 0px !important;
border: 5px solid #00aba5;
/* overflow: hidden; */
/* display: inline-block; */
 position: relative; 
float: left;
/* background: #fff; */
-ms-flex-align: center;
/* margin-left: -10px; */
-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
-webkit-border-radius: 125px;
-moz-border-radius: 80px;
-webkit-transition: all 400ms linear;
-moz-transition: all 400ms linear;
-o-transition: all 400ms linear;
-ms-transition: all 400ms linear;
transition: all 400ms linear;
    }


section:not(.fancybox-content) .ca-image li, section:not(.fancybox-content) .ca-image li .image-div, section:not(.fancybox-content) .ca-image li .image-div img {
    max-height: 175px !important
}

.fancybox-content .pic .ca-image li {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    margin-left: 0px !important;
}

.pic .mask {
width: 16%;
/* position: relative; */
/* padding: 3% 0px; */
background: none repeat scroll 0 0 #fff;
float: left;
/* display: inline-block; */
/* min-height: 100%; */
font-size: 19px;
font-weight: 700;
word-break: break-all;
letter-spacing: 5px;
/* word-wrap: break-word; */
}

.pic .before .mask {
    margin-right: auto;
padding: 0.03em 0px;
}

.pic .after .mask {
float: right;
padding: 0.8em 0px;
/* margin-left: auto; */
}

.pic .mask p {
    border: medium none;
    font-weight: 900;
    padding: 10px;
    line-height: 8px;
    font-size: 18px;
}

    .pic .mask p:first-child {
        padding-top: 40px;
    }

    .pic .mask p:last-child {
        padding-bottom: 40px;
    }

.pic .image-div {
    display: inline-block;
    width: 80%;
    line-height: 175px;
}

    .pic .image-div img {
        position: relative;
	vertical-align: middle;
        border-radius: 0px !important;
    }


.fancybox-content .pic .mask {
    font-size: 46px;
    font-weight: 500;
}

/*.fancybox-content .pic {
    padding-bottom: 58.25%;
}

.photo-tour .pic img {
    height: 100%;
    position: initial;
    width: 100%;
    border: none !important;
    border-radius: 0px !important;
}

.fancybox-content .pic img {
    width: 360px;
}

.image-div {
    display: inline-flex;
    min-height: 100%;
    width: 143px;
}

    .image-div img {
        margin: auto 0px;
    }

.ca-content {
    width: 34px;
}

.before .ca-content {
    float: left;
}

.after .ca-content {
    float: right;
}

.fancybox-content.photo-tour {
    width: 100%;
    height: 100%;
}

.fancybox-content .ca-image li {
    width: 48%;
    border-radius: 0px;
    background-color: #00aba5;
}

.fancybox-content .mask {
    width: 46px;
}

.fancybox-content .image-div {
    width: 88%;
}

.fancybox-content .pic img {
    width: 360px;
}*/
