.centered.vc_row-fluid [class*="vc_span"]:first-child {
    margin: auto !important;
}

.centered.vc_row-fluid [class*="vc_span"] {
    float: none;
}

.page-title {
    margin-bottom: 0px;
}

main .grid-row:first-child {
    margin: -120px auto 60px;
}

.grid li {
    height: initial;
    width: initial;
}

.grid figure {
    height: 270px;
    width: 350px;
}

    .grid figure img {
        max-width: 350px;
    }

.cs-style-3 figcaption {
    width: 344px;
}

.grid.cs-style-3 .grid-col:first-child li {
    float: right;
}

.grid.cs-style-3 .grid-col:last-child li {
    float: left;
}

/* ---------- */
/*    768     */
/* ---------- */

/* highlights */

.nb768 main .grid-row:first-child {
    margin: -90px auto 60px;
}

/* 567
    626
    320
*/
.nb567 .grid, .nb626 .grid, .nb320 .grid {
    margin-top: -45px;
}
.nb567 .grid li, .nb626 .grid li, .nb320 .grid li {
    margin-top: 30px;
}

/* ---------- */
/*    320     */
/* ---------- */
.nb320 .grid figure {
    height: 200px;
    width: 250px;
}

.nb320 .grid.cs-style-3 .grid-col li {
    float: initial !important;
}

.nb320 .grid figure img {
    max-width: 250px;
}

.nb320 .cs-style-3 figcaption {
    width: 248px;
}

