
.logo div {
    height: 90px;
    padding-left: 55px;
    padding-top: 7px;
}

.tuner {
    top: 110px;
}

.page-header {
    height: 110px;
}

.main-nav li a {
    line-height: 2.25em;
    padding: 36px 22px 18px;
}

.h1 {
    /*color: #999;*/
    /*font-family: 'Baufra-DemiBold',Arial,Helvetica,sans-serif;*/
    font-size: 22px;
    padding: 0 0 18px;
}

.h2 {
    /*background: url("../images/elem/disc.png") no-repeat scroll left 11px rgba(0, 0, 0, 0);*/
    /*color: #b06c96;*/
    /*font-family: 'Baufra-DemiBold',Arial,Helvetica,sans-serif;*/
    font-size: 16px;
    padding: 0 0 20px 13px;
}

.h3, .h4, .h5, .h6 {
    /*color: #dfc6ad;*/
    /*font-family: 'Humanist521BT-Roman',Arial,Helvetica,sans-serif;*/
    font-size: 14px;
}

.p {
    line-height: 20px;
    padding: 0 0 20px;
}

p {
   text-indent: 0em;
}

/*img.pic {
    background: #fff !important;
}*/


.services .main {
    margin-top: 0px;
    padding-bottom: 0px;
    /*height: auto !important;*/
}

.services li {
    min-height: 170px;
    padding-bottom:0px;
    /*border-bottom: none;*/
}

.main {
    font-size: 24px;
    font-weight: normal;
    width: 100% !important;
    margin: -30px 0 30px;
    /*color: rgba(0,143,213,0.9);*/
    height: auto !important;
}

.services h2 {
    /*font-size: 20px;*/
    margin: 0 0 20px 13px;
    padding-left: 10px;
    /*border-left: 8px double rgba(77,177,226,0.9);*/
    height: 65px;
    /*color: #000;*/
}

.services p {
    /*font-size: 16px;
    line-height: 24px;*/
    margin: 0 0 20px;
}
