/*
    ============================================
        Header
    ============================================
*/

/*.page-header {
    background: none repeat scroll 0 0 #fdf9f6;
    border: 1px solid buttonface;
    position: fixed;
    transition: height 0.3s ease 0s;
    width: 100%;
    z-index: 10000;
}

.page-header .logo img {
    display: inline-block;
    height: 112px;
    line-height: 112px;
}

.logo, .main-nav {
    display: inline-block;
    position: relative;
}

.logo {
    left: 0;
    top: 0;
    margin: 0;
    float: left;
}

.main-nav {
    float: right;
    right: 0px;
    margin-right: 0px;
}

    .main-nav li a, .main-nav li button {
        line-height: 112px;
        padding: 0px 20px;
    }
/*
    ============================================
        Header Shrink
    ============================================
*/


/* Transitions and class for reduced height */
/*.page-header.page-header-shrink .logo img,
.page-header.page-header-shrink .main-nav li a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.page-header.page-header-shrink,
.page-header.page-header-shrink .logo img,
.page-header.page-header-shrink .main-nav li a {
    line-height: 56px;
    height: 56px;
}

    .page-header.page-header-shrink .main-nav li button {
        cursor: pointer;
    }

    .page-header.page-header-shrink .logo img {
        height: 56px;
    }



.page .quick-search {
    border-bottom: 3px solid buttonface;
    min-width: 100%;
    position: fixed;
}*/

/* Disabled Elements */
.pbElement[disabled=disabled] {
    display: none;
    position: absolute;
    left: 100%;
    margin-left: 60px;
}

.widget-alt.location address, .social-icons {
    float: right;
}

.thumbnail-image {
    margin-top: -50px;
    margin-bottom: 50px;
}

.photo-tour .links {
    border-radius: 40px 40px 0px 0px;
}

.quick-search {
    background: none repeat scroll 0 0 #4dc4c0;
    color: #fff;
    font-size: 22px;
    line-height: 37px;
    text-align: right;
    margin-top: 0px;
}

    .quick-search .grid-row {
        margin-bottom: 0;
    }

.page-title nav {
    margin-right: 0px !important;
}


/* SIDEBAR */
.more {
    float: right;
    padding: 3px 10px;
    border: solid 2px;
}

.sidebar.active {
    position: absolute;
    left: 100%;
    display: none;
}

.sidebar.active.opened {
  padding-top: 20px;
  background-color: #fff;
  display: block;
}

/* 1024 */
.nb1024 .grid-col-9 {
    border-right: 1px solid #cecece;
    padding-right: 15px;
    width: 650px !important;
}

.nb1024 .grid-col-3 {
    margin-left: 20px;
}

.nb1024 .photo-tour h3 {
    font-size: 15px;
}

.nb1024 .footer-logo img {
    margin-top: 0px;
}

.nb1024 .location li:first-child {
    margin-top: 0px;
}

.nb1024 .location {
    margin: 0px;
}

/* ---------- */
/*    320     */
/* ---------- */
.widget-alt.location address, .social-icons {
    float: initial !important;
}
