.services.newsletters li {
     /*width: 545px;*/
    width: 300px !important;
}

.services.newsletters .pic:before {
        position: absolute;
        top: 0;
        width: 10%;
    }

.services.newsletters h2{
    text-align: center;
    border-left: none !important;
}

.services.newsletters .pic {
    float: none !important;
    width:100% !important;
    height: 150px !important;
}

.services.newsletters .pic img {
    width: 90%  !important;
    margin-top: 75px  !important;
    transform: translateY(-50%)  !important;
    height: 90%  !important;
    margin-left: 10% !important;
}

.services.newsletters .owl-item {
    width: 150px !important;
    margin-left: 100px;
}
/*.owl-carousel .item {
        width: initial !important;
    }*/
