.pricing-table .col {
    margin-left: -4px;
}

.services .pic {
    font-size: 24px;
}

    .services .pic:before, .pic:before {
        position: absolute;
        top: 0;
        width: 10%;
    }


.pricing-table .listing li {
    position: relative !important;
}

.price-list-bullet {
    height: 16px;
    margin-top: 4px;
    position: absolute;
    width: 15px;
}


    .price-list-bullet img {
        max-height: 100%;
    }

.price-list-item {
    margin-left: 22px;
}

.pic div {
    font-size: 18px;
    line-height: 24px;
    padding: 21px 2px;
    word-break: break-all !important;
    word-spacing: 34px;
}

.callout .icon img {
    height: 95px;
    padding: 9px 0px 0px 15px;
}

.callout .icon:before {
    width: 10%;
    height: 100%;
}

/* 1024 */
.nb1024 .pricing-table .head span {
    font-size: 20px;
}

.nb1024 .callout-content {
    width: 65%;
}

.nb1024 .callout-button {
    width: 35%;
}

.nb1024 .pic div {
    padding: 21px 6px;
}

.nb1024 .callout {
    padding: 23px 23px 16px 130px;
}
