.spannedItems .left .align,
.spannedItems .right .align {
    float: right;
    margin-left: 20px;
}

/* 10000
   1280
*/
.nb .align,
.nb1280 .align {
    width: 250px;
    height: 350px;
}

/* 1024
    1023
*/
.nb1023 .align, .nb1024 .align {
    width: 200px;
    height: 280px;
}

/* 1023 */
.nb1023 .align {
 float: initial !important; 
 margin-left: 0px !important; 
}

/* 767 */
.nb767 .spannedItems .vc_span6:first-child {
    border-right :none !important;
}