#relatedTreatmentLinksSection .relatedTeaatmentLink .more {
    background: none repeat scroll 0 0 #00aba5;
    border: 2px solid #00aba5;
    color: #fff;
    float: right;
    font-size: 18px;
    line-height: 28px;
    padding: 0 5px;
}

#relatedTreatmentLinksSection .relatedTeaatmentLink .read-more {
    color: #00aba5;
    display: block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 160px;
}

#relatedTreatmentLinksSection .relatedTeaatmentLink .read-more {
    background: none repeat scroll 0 0 #fff !important;
    border: 2px solid #00aba5;
}

#relatedTreatmentLinksSection .relatedTeaatmentLink {
    margin-top: 20px;
}

.banner-testimonial {
    float: left;
    max-width: 550px;
    word-spacing: 6px;
}

    .banner-testimonial.testimonial {
        border-style: none !important;
        border-width: 0 !important;
        left: 50% !important;
        margin: 9px 10px 10px -400px !important;
        padding: 18px 15px 0 !important;
    }


        .banner-testimonial.testimonial p {
            line-height: 25px !important;
            text-indent: 25px !important;
            font-size: 16px !important;
        }

    .banner-testimonial .author {
        color: #4dc4c0 !important;
        font-size: 20px !important;
        font-style: italic !important;
        line-height: 40px !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
    }

/* 1024 */
.nb1024 #relatedTreatmentLinksSection .relatedTeaatmentLink .read-more {
    font-size: 14px;
}

.nb1024 .doctors-carousel h3 {
    font-size: 15px;
}

.nb1024 .widget-appointment i, i.appointment {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.nb1024 .widget-appointment input {
    height: 40px;
    padding: 13px 10px 13px 60px;
}

.nb1024 .beautify p, .beautify article, .beautify h3 {
    padding-right: 15px;
}

.nb1024 .widget-departments dl {
    margin-right: 10px;
}

/* 1023 */
.nb1023 #page-content {
    width: 100% !important;
}

.nb1023 .sidebar.active.opened {
  padding-left: 40px;
  padding-right: 40px;
}