<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Videos</Name>
    <Alias>Videos</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Gallery</Master>
    <AllowedTemplates>
      <Template>Index</Template>
    </AllowedTemplates>
    <DefaultTemplate>Index</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>VideoPage</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>