<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="umbracorewrite"
          virtualUrl="/umbraco((?=(/|$))(.*))"
          rewriteUrlParameter="ExcludeFromClientQueryString"
          destinationUrl="/umbraco/$1"
          ignoreCase="true" />

    <add name="underconstructionrewrite"
           virtualUrl="/under\-construction"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="/Underconstruction"
           ignoreCase="true" />

    <!--   <add name="theteamrewrite"
           virtualUrl="/the-clinic/([a-z\-]{1,})(?=(/|$))"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="/theclinic/theteam/"
           ignoreCase="true" />  -->

    <add name="gallerybeforeandafterrewrite"
           virtualUrl="/gallery/photos/get/([0-9]{1,})"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="/gallery/photos/get?id=$1"
           ignoreCase="true" />

    <add name="galleryphotosrewrite"
           virtualUrl="/gallery/photos/([a-z\-]{1,})"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="/gallery/photos/treatment"
           ignoreCase="true" />

    <add name="gallerygeneralvideosrewrite"
           virtualUrl="/gallery/videos/treatments/([a-z\-]{1,})(?=(/|$))"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="/gallery/videos/videos?category=treatments/$1"
           ignoreCase="true" />

    <add name="gallerytreatmentvideosrewrite"
           virtualUrl="/gallery/videos/(treatments|purity-bri|discussion)([a-z\-]{0,})(?=(/|$))"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="/gallery/videos/treatmentvideos?category=$1$2"
           ignoreCase="true" />

    <add name="galleryvideophotosrewrite"
               virtualUrl="/gallery/(videos|photos)(?=(/|$))"
               rewriteUrlParameter="ExcludeFromClientQueryString"
               destinationUrl="/gallery/$1"
               ignoreCase="true" />

    <add name="galleryrewrite"
            virtualUrl="/gallery(?=(/|$))"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="/gallery"
            ignoreCase="true" />


    <add name="treatmentscategorytreatmentrewrite"
                  virtualUrl="/treatments/([a-z\-]{1,})/([a-z\-]{1,})(?=(/|$))"
                  rewriteUrlParameter="ExcludeFromClientQueryString"
                  destinationUrl="/treatments/treatment?category=$1/$2"
                  ignoreCase="true" />

    <add name="treatmentscategoryrewrite"
              virtualUrl="/treatments/([a-z\-]{1,})(?=(/|$))"
              rewriteUrlParameter="ExcludeFromClientQueryString"
              destinationUrl="/treatments/category?category=$1"
              ignoreCase="true" />

    <!--<add name="treatmentsrewrite"
            virtualUrl="/treatments(?=(/|$))"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="/treatments"
            ignoreCase="true" />-->

    <add name="homerewrite"
           virtualUrl="^/$"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="/home/index"
           ignoreCase="true" />
  </rewrites>
</urlrewritingnet>
