<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="umbracorewrite"
                  virtualUrl="/umbraco/(.*)"
                  rewriteUrlParameter="ExcludeFromClientQueryString"
                  destinationUrl="/umbraco/$1"
                  ignoreCase="true" />

    <add name="galleryrewrite"
            virtualUrl="~/gallery"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="/gallery"
            ignoreCase="true" />
    
     <add name="treatmentdetailrewrite"
              virtualUrl="~/([a-z\-]{1,})(?!(umbraco|gallery))(/[a-z]{0,})"
              rewriteUrlParameter="ExcludeFromClientQueryString"
              destinationUrl="/treatments/$1$3"
              ignoreCase="true" />
    
    <add name="homerewrite"
           virtualUrl="/(?=$)"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/home/index"
           ignoreCase="true" />
    
    <add name="underconstructionrewrite"
           virtualUrl="/underconstruction"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/Underconstruction"
           ignoreCase="true" />
  </rewrites>
</urlrewritingnet>
