<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="umbracorewrite"
                  virtualUrl="~/umbraco/"
                  rewriteUrlParameter="ExcludeFromClientQueryString"
                  destinationUrl="/umbraco/"
                  ignoreCase="true" />

    <add name="treatmentdetailrewrite"
              virtualUrl="~/(?!(umbraco))([a-z\-]{1,})/"
              rewriteUrlParameter="ExcludeFromClientQueryString"
              destinationUrl="/treatments/$2/"
              ignoreCase="true" />

    <add name="locationrewrite"
            virtualUrl="~/(?=(location))/"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="/location/"
            ignoreCase="true" />
    
    <add name="treatmentphotosrewrite"
              virtualUrl="~/(?!(umbraco))([a-z\-]{1,})(?=treatments)/photos"
              rewriteUrlParameter="ExcludeFromClientQueryString"
              destinationUrl="/treatments/$2/photos"
              ignoreCase="true" />

    <add name="homerewrite"
           virtualUrl="/(?![a-z]{1,})"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/home/index"
           ignoreCase="true" />

    <add name="underconstructionrewrite"
           virtualUrl="/underconstruction"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/Underconstruction"
           ignoreCase="true" />
  </rewrites>
</urlrewritingnet>
