@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    IEnumerable<IPublishedContent> treatments = Model.Content.Children;
    ViewBag.UrlPrefix = string.Empty;
    string thumbUrl = string.Empty;
}

<section class="widget photo-tour photo-tour-3" id="photo-tour">
    @if (treatments.Any())
    {
        if (treatments.First().Children.Any())
        {
        <div class="grid isotope">
            @foreach (IPublishedContent category in treatments.Where(c => c.IsVisible()))
            {
                var url = string.Format("/gallery/videos/{0}", category.UrlName);
                thumbUrl = category.DocumentTypeAlias.ToLower() == "video"
                            ? category.GetCropUrl("thumbnail", "thumb")
                            : (category.HasValue("relatedPage")
                                ? Umbraco.TypedContent(category.GetPropertyValue<int>("relatedPage")).GetCropUrl("thumbnail", "thumb")
                                : "#");
                <div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                    <div class="pic">
                        <img src="@thumbUrl" alt="@category.GetPropertyValue("heading")" />
                        <div class="links">
                            <ul>
                                <li><a href="@url" class="fa fa-mail-forward"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3>@category.GetPropertyValue("heading")</h3>
                    <p></p>
                </div>
            }
        </div>
        }
    }
</section>
