<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Content Master</Name>
    <Alias>ContentMaster</Alias>
    <Icon>icon-page-restricted color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates>
      <Template>Layout</Template>
    </AllowedTemplates>
    <DefaultTemplate>Layout</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>index</DocumentType>
    <DocumentType>Highlights</DocumentType>
    <DocumentType>Slider</DocumentType>
    <DocumentType>SideBar</DocumentType>
    <DocumentType>TreatmentTemp</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>68</Id>
      <Caption>Content</Caption>
      <SortOrder>9</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>