<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Treatments Video Category</Name>
    <Alias>TreatmentsVideoCategory</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>CategoryTemp</Master>
    <AllowedTemplates>
      <Template>category</Template>
    </AllowedTemplates>
    <DefaultTemplate>category</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>GeneralVideoItem</DocumentType>
    <DocumentType>YouTubeVideoItem</DocumentType>
    <DocumentType>TreatmentVideoItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>