<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Before and After" Id="Umbraco.ImageCropper" Definition="328cc16a-113c-4199-a2ac-0bfb9694243a" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="107" Value="[&#xD;&#xA;  {&#xD;&#xA;    &quot;alias&quot;: &quot;ImageCrop&quot;,&#xD;&#xA;    &quot;width&quot;: 142,&#xD;&#xA;    &quot;height&quot;: 220&#xD;&#xA;  }&#xD;&#xA;]" Alias="crops" SortOrder="0" />
  </PreValues>
</DataType>