<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Digibiz Email Form with TinyMCE" Id="Umbraco.NoEdit" Definition="56d793f8-fdbc-450b-a928-76aeaebcaa33" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="70" Value=",code,removeformat,undo,redo,cut,copy,mcepasteword,bold,italic,underline,bullist,numlist,outdent,indent,mcelink,unlink,mceinserttable,inserthorizontalrule,subscript,superscript,mcecharmap,|1|1,2,3,|0|500,400||True|500|" Alias="0" SortOrder="0" />
  </PreValues>
</DataType>