<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Role" Id="Umbraco.RadioButtonList" Definition="8640a1d8-f27f-4166-92c2-dcbe37252161" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="14" Value="Displays Thumbnails" Alias="0" SortOrder="0" />
    <PreValue Id="15" Value="Has Thumbnail" Alias="1" SortOrder="1" />
  </PreValues>
</DataType>