<?xml version="1.0" encoding="utf-8"?>
<DataType Name="SmartBlog Category List" Id="Umbraco.CheckBoxList" Definition="7a451b43-f166-4598-bb48-5a24d4283ead" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="98" Value="Tutorial" Alias="0" SortOrder="0" />
    <PreValue Id="99" Value="News" Alias="1" SortOrder="1" />
    <PreValue Id="100" Value="Event" Alias="2" SortOrder="2" />
    <PreValue Id="101" Value="Project" Alias="3" SortOrder="3" />
    <PreValue Id="102" Value="Person" Alias="4" SortOrder="4" />
  </PreValues>
</DataType>