<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Span DropDown" Id="Umbraco.DropDown" Definition="18e17d89-04a9-499f-9ff8-691a5b1226e0" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="8" Value="Less than a half" Alias="0" SortOrder="0" />
    <PreValue Id="9" Value="Half" Alias="1" SortOrder="1" />
    <PreValue Id="10" Value="More than a half" Alias="2" SortOrder="2" />
    <PreValue Id="11" Value="Full" Alias="3" SortOrder="3" />
  </PreValues>
</DataType>