<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Thumbnail Image" Id="Umbraco.ImageCropper" Definition="2d3ae34d-2265-4df0-9f1d-b4378d49b88a" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="31" Value="[&#xD;&#xA;  {&#xD;&#xA;    &quot;alias&quot;: &quot;thumb&quot;,&#xD;&#xA;    &quot;width&quot;: 370,&#xD;&#xA;    &quot;height&quot;: 280&#xD;&#xA;  },&#xD;&#xA;  {&#xD;&#xA;    &quot;alias&quot;: &quot;banner&quot;,&#xD;&#xA;    &quot;width&quot;: 270,&#xD;&#xA;    &quot;height&quot;: 180&#xD;&#xA;  }&#xD;&#xA;]" Alias="crops" SortOrder="0" />
  </PreValues>
</DataType>