<?xml version="1.0" encoding="utf-8"?>
<DataType Name="uTube Single Video Picker" Id="Umbraco.NoEdit" Definition="c2ae2a30-86d4-43a1-b3a4-73c2d5feb409" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="6" Value="{&quot;EnablePreview&quot;:true,&quot;PreviewHeight&quot;:240,&quot;PreviewWidth&quot;:320,&quot;ApplicationName&quot;:null,&quot;DeveloperKey&quot;:null}" Alias="0" SortOrder="0" />
  </PreValues>
</DataType>