<?xml version="1.0" encoding="utf-8"?>
<DataType Name="uTube Video Uploader" Id="Umbraco.NoEdit" Definition="71f89aad-ca0e-4f00-a181-9e4381f1abe5" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="7" Value="{&quot;Username&quot;:&quot;teamutube@gmail.com&quot;,&quot;Password&quot;:&quot;t3amuTub3&quot;,&quot;AuthToken&quot;:null,&quot;ApplicationName&quot;:&quot;uTube&quot;,&quot;DeveloperKey&quot;:&quot;AI39si5qYIjvoCEnHLturSZhoFzb7J6OHU1yvdGBTRaHOmPLbrm5EF5-dBO7e6zPhsMMhQVgqug_rG3UWMkvodOdPEdtqdpiEQ&quot;}" Alias="0" SortOrder="0" />
  </PreValues>
</DataType>