<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Widgets" Id="Umbraco.CheckBoxList" Definition="838f1f7a-ac6e-4b4a-a90a-69f5e700399d" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="12" Value="Make An Appointment" Alias="0" SortOrder="0" />
    <PreValue Id="13" Value="Related Links" Alias="1" SortOrder="1" />
  </PreValues>
</DataType>