@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTitleBar = false;
    var treatments = Model.Content.Siblings().Where(s => s.DocumentTypeAlias.Equals("treatments", StringComparison.CurrentCultureIgnoreCase) && s.IsVisible());
}
<link href="~/Content/css/beforeafter.css" rel="stylesheet" />

<section class="widget photo-tour photo-tour-3 category" id="photo-tour">

    @if (treatments.Any())
    {
        if (treatments.First().Children.Any())
        {
            <div class="grid isotope">
            @foreach (IPublishedContent category in treatments.First().Children(c => c.IsVisible()))
            {
                @Html.Partial("CategoryPartial", category)
            }
        </div>
        }
    }
    @*<a class="button more" data-page="2" data-template="photo-four" href="#"><i class="fa fa-refresh"></i>Load more</a>*@
</section>

@*
@section scripts {
    <script src="~/scripts/BeforeAndAfter.js"></script>
}
photos = matchedCategory.Children(c => c.DocumentTypeAlias.Equals("photos", StringComparison.CurrentCultureIgnoreCase) && c.IsVisible());

            if (photos.Any())
            {

        <div class="grid isotope">
            @foreach (IPublishedContent photo in photos.First().Children(c => c.IsVisible()))
            {
                @Html.Partial("BeforeAndAfterPartial", photo)
            }
        </div>
            }*@