@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var galleryData = uQuery.GetNodesByType("GalleryData");
    var galleryChildren = galleryData.First().ChildrenAsList.WhereNotNull();
}
<section class="widget photo-tour photo-tour-3 category" id="photo-tour">

    @if (galleryChildren.Any())
    {
        var url = string.Empty;
        <div class="grid isotope">
            @foreach (umbraco.NodeFactory.Node child in galleryChildren)
            {
                url = "./" + child.UrlName;
                <div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                    <div class="pic">
                        <img width="370" height="195" alt="@child.Name" src="@Umbraco.TypedContent(child.Id).GetCropUrl("thumbnail", "thumb")">
                        <div class="links">
                            <ul>
                                <li><a href="@url" class="fa fa-mail-forward"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3>@child.Name</h3>
                    <p></p>
                </div>
            }
        </div>
    }
</section>
