@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var data = Model.Content.Parent.Siblings().Where(s => s.DocumentTypeAlias.Equals("data", StringComparison.CurrentCultureIgnoreCase) && s.IsVisible());
    IEnumerable<IPublishedContent> treatments = data.First().Children(c => c.DocumentTypeAlias.Equals("treatments", StringComparison.CurrentCultureIgnoreCase) && c.IsVisible());
    ViewBag.UrlPrefix = "/gallery";
}
<section class="widget photo-tour photo-tour-3 category" id="photo-tour">

    @if (treatments.Any())
    {
        if (treatments.First().Children.Any())
        {
            <div class="grid isotope">
            @foreach (IPublishedContent category in treatments.First().Children(c => c.IsVisible()))
            {
                @Html.Partial("CategoryPartial", category)
            }
        </div>
        }
    }
</section>