@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var email = "marc@pacifico.co.uk";
}
@section styles {
    <link href="~/Content/css/location.css" rel="stylesheet" />
}
<!-- feedback -->
<div class="newsletter">
    <div class="grid-row">
        <div class="grid-col grid-col-9">
            <!-- map -->
            <section class="map">
                <div class="widget-title">Our Location</div>
                <div id="map" class="google-map"></div>
            </section>
            <!--/ map -->

            <div class="newsletter-title">Make an Enquiry</div>
            <div class="newsletter-form clearfix">
                <form action="">
                    <div class="vc_row-fluid">
                        <input type="text" class="input-text vc_span6" placeholder="Your name">
                        <input type="email" class="input-text vc_span6" placeholder="Your email">
                    </div>
                    <div class="vc_row-fluid">
                        <input type="text" class="input-text textarea vc_span12" placeholder="Your email">
                    </div>
                    <div class="vc_row-fluid">
                        <input type="button" value="Submit" class="button right">
                    </div>
                </form>
                <p></p>
            </div>
        </div>
        <div class="grid-col grid-col-3 contact-details-sidebar">
            <section class="widget">
                <div class="widget-title">Contact Details</div>
                <div>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <ul class="indent">
                                <li>6 Mount Ephraim</li>
                                <li>Tunbridge Wells</li>
                                <li>Kent</li>
                                <li>United Kingdom</li>
                                <li>TN4 8AS</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="widget">
                <div>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            <ul class="indent">
                                <li>  01892 536960</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="widget">
                <div>
                    <ul>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <ul class="indent">
                                <li> @email</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>


            <section class="openining-hours widget">
                <div class="widget-title">Opening Hours</div>
                <section class="widget-alt work-time">
                    <div class="widget-icon"></div>
                    <dl>
                        <dt>Mon</dt>
                        <dd>08:00 am - 12:00 pm</dd>
                        <dt>Tue</dt>
                        <dd>01:00 am - 05:00 pm</dd>
                        <dt>Wed</dt>
                        <dd>Free day</dd>
                        <dt>Thu</dt>
                        <dd>08:00 am - 12:00 pm</dd>
                        <dt>Fri</dt>
                        <dd>08:00 am - 12:00 pm</dd>
                        <dt>Sat</dt>
                        <dd>08:00 am - 12:00 pm</dd>
                        <dt>Sun</dt>
                        <dd>Free day</dd>
                    </dl>
                </section>
            </section>
        </div>
        <!--/ feedback -->
    </div>
</div>
@section scripts {
    <script src="~/scripts/Common.js"></script>
}
