<!DOCTYPE root[<!ELEMENT Column ANY>
<!ATTLIST Column id ID #REQUIRED>
 
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT Featured ANY>
<!ATTLIST Featured id ID #REQUIRED>
<!ELEMENT FeaturedItem ANY>
<!ATTLIST FeaturedItem id ID #REQUIRED>
<!ELEMENT header ANY>
<!ATTLIST header id ID #REQUIRED>
<!ELEMENT highlightItem ANY>
<!ATTLIST highlightItem id ID #REQUIRED>
<!ELEMENT highlights ANY>
<!ATTLIST highlights id ID #REQUIRED>
<!ELEMENT index ANY>
<!ATTLIST index id ID #REQUIRED>
<!ELEMENT Innernavigationitem ANY>
<!ATTLIST Innernavigationitem id ID #REQUIRED>
<!ELEMENT Layout ANY>
<!ATTLIST Layout id ID #REQUIRED>
<!ELEMENT navigation ANY>
<!ATTLIST navigation id ID #REQUIRED>
<!ELEMENT Navigationitem ANY>
<!ATTLIST Navigationitem id ID #REQUIRED>
<!ELEMENT PhotoText ANY>
<!ATTLIST PhotoText id ID #REQUIRED>
<!ELEMENT Row ANY>
<!ATTLIST Row id ID #REQUIRED>
<!ELEMENT Silde ANY>
<!ATTLIST Silde id ID #REQUIRED>
<!ELEMENT slider ANY>
<!ATTLIST slider id ID #REQUIRED>
<!ELEMENT Text ANY>
<!ATTLIST Text id ID #REQUIRED>
<!ELEMENT Video ANY>
<!ATTLIST Video id ID #REQUIRED>
<!ELEMENT YouTubeVideo ANY>
<!ATTLIST YouTubeVideo id ID #REQUIRED>

]>
<root id="-1">
  <Layout id="1179" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-07-01T18:45:18" updateDate="2014-07-08T17:43:47" nodeName="Master" urlName="master" path="-1,1179" isDoc="" nodeType="1154" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="Layout">
    <header id="1233" parentID="1179" level="2" creatorID="0" sortOrder="0" createDate="2014-07-03T12:01:39" updateDate="2014-07-07T21:38:58" nodeName="Header" urlName="header" path="-1,1179,1233" isDoc="" nodeType="1232" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1231" nodeTypeAlias="header">
      <navigation id="1242" parentID="1233" level="3" creatorID="0" sortOrder="0" createDate="2014-07-03T14:36:16" updateDate="2014-07-07T21:39:04" nodeName="MainNavigation" urlName="mainnavigation" path="-1,1179,1233,1242" isDoc="" nodeType="1237" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="navigation">
        <Navigationitem id="1243" parentID="1242" level="4" creatorID="0" sortOrder="0" createDate="2014-07-03T14:36:39" updateDate="2014-07-03T16:55:24" nodeName="Home" urlName="home" path="-1,1179,1233,1242,1243" isDoc="" nodeType="1240" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Navigationitem">
          <homepageVisible>1</homepageVisible>
          <relatedTo>1182</relatedTo>
        </Navigationitem>
        <Navigationitem id="1247" parentID="1242" level="4" creatorID="0" sortOrder="1" createDate="2014-07-03T15:06:04" updateDate="2014-07-03T17:48:13" nodeName="The Right Choice" urlName="the-right-choice" path="-1,1179,1233,1242,1247" isDoc="" nodeType="1240" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Navigationitem">
          <homepageVisible>0</homepageVisible>
          <relatedTo>1199</relatedTo>
          <Innernavigationitem id="1252" parentID="1247" level="5" creatorID="0" sortOrder="0" createDate="2014-07-03T17:44:12" updateDate="2014-07-03T17:44:12" nodeName="The clinic" urlName="the-clinic" path="-1,1179,1233,1242,1247,1252" isDoc="" nodeType="1251" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Innernavigationitem" />
          <Innernavigationitem id="1253" parentID="1247" level="5" creatorID="0" sortOrder="1" createDate="2014-07-03T17:44:21" updateDate="2014-07-03T17:47:55" nodeName="Test 1" urlName="test-1" path="-1,1179,1233,1242,1247,1253" isDoc="" nodeType="1251" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Innernavigationitem">
            <Innernavigationitem id="1254" parentID="1253" level="6" creatorID="0" sortOrder="0" createDate="2014-07-03T19:12:33" updateDate="2014-07-03T19:12:33" nodeName="Test 1 1" urlName="test-1-1" path="-1,1179,1233,1242,1247,1253,1254" isDoc="" nodeType="1251" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Innernavigationitem" />
            <Innernavigationitem id="1255" parentID="1253" level="6" creatorID="0" sortOrder="1" createDate="2014-07-03T19:12:43" updateDate="2014-07-03T19:12:43" nodeName="Test 1 2" urlName="test-1-2" path="-1,1179,1233,1242,1247,1253,1255" isDoc="" nodeType="1251" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Innernavigationitem" />
          </Innernavigationitem>
        </Navigationitem>
        <Navigationitem id="1244" parentID="1242" level="4" creatorID="0" sortOrder="2" createDate="2014-07-03T14:36:50" updateDate="2014-07-03T16:44:31" nodeName="Location" urlName="location" path="-1,1179,1233,1242,1244" isDoc="" nodeType="1240" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Navigationitem">
          <homepageVisible>1</homepageVisible>
          <relatedTo>1225</relatedTo>
        </Navigationitem>
      </navigation>
    </header>
    <content id="1182" parentID="1179" level="2" creatorID="0" sortOrder="1" createDate="2014-07-01T18:54:19" updateDate="2014-07-09T01:04:57" nodeName="home" urlName="home" path="-1,1179,1182" isDoc="" nodeType="1177" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="content">
      <highlights id="1194" parentID="1182" level="3" creatorID="0" sortOrder="0" createDate="2014-07-02T00:44:15" updateDate="2014-07-09T01:04:58" nodeName="Highlights" urlName="highlights" path="-1,1179,1182,1194" isDoc="" nodeType="1193" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="highlights">
        <highlightItem id="1195" parentID="1194" level="4" creatorID="0" sortOrder="4" createDate="2014-07-02T00:45:21" updateDate="2014-07-09T01:04:58" nodeName="TheRightChoice" urlName="therightchoice" path="-1,1179,1182,1194,1195" isDoc="" nodeType="1191" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="highlightItem">
          <icon><![CDATA[heart]]></icon>
          <heading><![CDATA[The Right Choice]]></heading>
          <description><![CDATA[Test]]></description>
          <link><![CDATA[right-choice]]></link>
        </highlightItem>
        <highlightItem id="1196" parentID="1194" level="4" creatorID="0" sortOrder="5" createDate="2014-07-02T00:45:51" updateDate="2014-07-09T01:04:58" nodeName="Treatments" urlName="treatments" path="-1,1179,1182,1194,1196" isDoc="" nodeType="1191" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="highlightItem">
          <icon><![CDATA[stethoscope]]></icon>
          <heading><![CDATA[Treatments]]></heading>
          <description><![CDATA[Test]]></description>
          <link><![CDATA[#]]></link>
        </highlightItem>
        <highlightItem id="1197" parentID="1194" level="4" creatorID="0" sortOrder="6" createDate="2014-07-02T00:46:10" updateDate="2014-07-09T01:04:58" nodeName="NewsAndVideos" urlName="newsandvideos" path="-1,1179,1182,1194,1197" isDoc="" nodeType="1191" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="highlightItem">
          <icon><![CDATA[th-list]]></icon>
          <heading><![CDATA[News & Videos]]></heading>
          <description><![CDATA[Test]]></description>
          <link><![CDATA[news-and-events]]></link>
        </highlightItem>
        <highlightItem id="1198" parentID="1194" level="4" creatorID="0" sortOrder="7" createDate="2014-07-02T00:46:27" updateDate="2014-07-09T01:04:58" nodeName="PhotoTour" urlName="phototour" path="-1,1179,1182,1194,1198" isDoc="" nodeType="1191" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="highlightItem">
          <icon><![CDATA[video-camera]]></icon>
          <heading><![CDATA[Photo Tour]]></heading>
          <description><![CDATA[Test]]></description>
          <link><![CDATA[photo-tour]]></link>
        </highlightItem>
      </highlights>
      <slider id="1289" parentID="1182" level="3" creatorID="0" sortOrder="1" createDate="2014-07-07T18:49:27" updateDate="2014-07-09T01:04:58" nodeName="Slider" urlName="slider" path="-1,1179,1182,1289" isDoc="" nodeType="1286" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="slider">
        <Silde id="1290" parentID="1289" level="4" creatorID="0" sortOrder="0" createDate="2014-07-07T18:54:43" updateDate="2014-07-09T01:04:58" nodeName="Slide 1" urlName="slide-1" path="-1,1179,1182,1289,1290" isDoc="" nodeType="1288" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Silde">
          <line1><![CDATA[Our]]></line1>
          <line2><![CDATA[Consultants]]></line2>
          <description><![CDATA[Description Here]]></description>
          <delay><![CDATA[7]]></delay>
          <slideTransition><![CDATA[79]]></slideTransition>
          <textTransition><![CDATA[rotate]]></textTransition>
          <filepath>1296</filepath>
        </Silde>
        <Silde id="1299" parentID="1289" level="4" creatorID="0" sortOrder="1" createDate="2014-07-07T21:56:09" updateDate="2014-07-09T01:04:58" nodeName="Slide 2" urlName="slide-2" path="-1,1179,1182,1289,1299" isDoc="" nodeType="1288" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Silde">
          <line1><![CDATA[Treatments]]></line1>
          <description><![CDATA[Description Here]]></description>
          <delay><![CDATA[7]]></delay>
          <slideTransition><![CDATA[79]]></slideTransition>
          <textTransition><![CDATA[skew]]></textTransition>
          <filepath>1297</filepath>
        </Silde>
        <Silde id="1300" parentID="1289" level="4" creatorID="0" sortOrder="2" createDate="2014-07-07T21:56:28" updateDate="2014-07-09T01:04:58" nodeName="Slide 3" urlName="slide-3" path="-1,1179,1182,1289,1300" isDoc="" nodeType="1288" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Silde">
          <line1><![CDATA[FEEL]]></line1>
          <line2><![CDATA[AT HOME]]></line2>
          <description><![CDATA[Description Here]]></description>
          <delay><![CDATA[7]]></delay>
          <slideTransition><![CDATA[79]]></slideTransition>
          <textTransition><![CDATA[rotate]]></textTransition>
          <filepath>1298</filepath>
        </Silde>
      </slider>
      <index id="1185" parentID="1182" level="3" creatorID="0" sortOrder="2" createDate="2014-07-01T18:56:52" updateDate="2014-07-09T01:04:58" nodeName="index" urlName="index" path="-1,1179,1182,1185" isDoc="" nodeType="1184" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1183" nodeTypeAlias="index">
        <Featured id="1365" parentID="1185" level="4" creatorID="0" sortOrder="0" createDate="2014-07-08T23:36:53" updateDate="2014-07-09T01:20:19" nodeName="Home Featured" urlName="home-featured" path="-1,1179,1182,1185,1365" isDoc="" nodeType="1373" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Featured">
          <FeaturedItem id="1366" parentID="1365" level="5" creatorID="0" sortOrder="0" createDate="2014-07-08T23:38:12" updateDate="2014-07-09T01:20:10" nodeName="Skin &amp; Treatment" urlName="skin-treatment" path="-1,1179,1182,1185,1365,1366" isDoc="" nodeType="1374" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="FeaturedItem">
            <heading><![CDATA[Skin & Treatment]]></heading>
            <itemImage>1350</itemImage>
          </FeaturedItem>
          <FeaturedItem id="1368" parentID="1365" level="5" creatorID="0" sortOrder="2" createDate="2014-07-08T23:38:51" updateDate="2014-07-09T01:20:02" nodeName="Expert 1" urlName="expert-1" path="-1,1179,1182,1185,1365,1368" isDoc="" nodeType="1374" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="FeaturedItem">
            <heading><![CDATA[Expert 1]]></heading>
            <itemImage>1352</itemImage>
          </FeaturedItem>
          <FeaturedItem id="1369" parentID="1365" level="5" creatorID="0" sortOrder="2" createDate="2014-07-08T23:39:33" updateDate="2014-07-09T01:19:55" nodeName="Something Else" urlName="something-else" path="-1,1179,1182,1185,1365,1369" isDoc="" nodeType="1374" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="FeaturedItem">
            <heading><![CDATA[Something Else]]></heading>
            <itemImage>1354</itemImage>
          </FeaturedItem>
          <FeaturedItem id="1370" parentID="1365" level="5" creatorID="0" sortOrder="3" createDate="2014-07-09T00:39:51" updateDate="2014-07-09T01:19:48" nodeName="Expert 1 (1)" urlName="expert-1-1" path="-1,1179,1182,1185,1365,1370" isDoc="" nodeType="1374" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="FeaturedItem">
            <heading><![CDATA[Expert 1]]></heading>
            <itemImage>1352</itemImage>
          </FeaturedItem>
        </Featured>
        <Column id="1382" parentID="1185" level="4" creatorID="0" sortOrder="3" createDate="2014-07-09T01:43:36" updateDate="2014-07-09T01:43:36" nodeName="Left Column" urlName="left-column" path="-1,1179,1182,1185,1382" isDoc="" nodeType="1380" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Column">
          <span><![CDATA[2]]></span>
          <PhotoText id="1336" parentID="1382" level="5" creatorID="0" sortOrder="1" createDate="2014-07-08T15:19:13" updateDate="2014-07-09T01:48:21" nodeName="Marc Pacifico" urlName="marc-pacifico" path="-1,1179,1182,1185,1382,1336" isDoc="" nodeType="1376" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="PhotoText">
            <heading><![CDATA[Marc Pacifico]]></heading>
            <text><![CDATA[Leading plastic Surgeon in the heart of Royal Tunbridge Wells.... Leading plastic Surgeon in the heart of Royal Tunbridge Wells.... Leading plastic Surgeon in the heart of Royal Tunbridge Wells.... Leading plastic Surgeon in the heart of Royal Tunbridge Wells.... Leading plastic Surgeon in the heart of Royal Tunbridge Wells.... Leading plastic Surgeon in the heart of Royal Tunbridge Wells.... Leading plastic Surgeon in the heart of Royal Tunbridge Wells.... Leading plastic Surgeon in the heart of Royal Tunbridge Wells....]]></text>
            <span><![CDATA[2]]></span>
            <photo>1302</photo>
          </PhotoText>
        </Column>
        <Column id="1383" parentID="1185" level="4" creatorID="0" sortOrder="4" createDate="2014-07-09T01:43:49" updateDate="2014-07-09T01:44:32" nodeName="Right Column" urlName="right-column" path="-1,1179,1182,1185,1383" isDoc="" nodeType="1380" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Column">
          <span><![CDATA[2]]></span>
          <Text id="1280" parentID="1383" level="5" creatorID="0" sortOrder="3" createDate="2014-07-06T17:57:39" updateDate="2014-07-09T01:47:17" nodeName="Private Asthetic Clinic" urlName="private-asthetic-clinic" path="-1,1179,1182,1185,1383,1280" isDoc="" nodeType="1375" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1183" nodeTypeAlias="Text">
            <heading><![CDATA[The private asthetic clinic]]></heading>
            <text><![CDATA[Purity Bridge provides a sophisticated, holistic approach to skin care, facial rejuvenation and body contouring, bridging the divisions between medical skin care, cosmetic surgery and beauty therapy. Edited.... Edited....Edited....Edited....Edited....]]></text>
            <span><![CDATA[2]]></span>
          </Text>
          <Text id="1281" parentID="1383" level="5" creatorID="0" sortOrder="4" createDate="2014-07-06T17:58:14" updateDate="2014-07-09T01:47:37" nodeName="Partnership &amp; Location" urlName="partnership-location" path="-1,1179,1182,1185,1383,1281" isDoc="" nodeType="1375" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1183" nodeTypeAlias="Text">
            <text><![CDATA[Purity Bridge is partnered with Tunbridge Wells Plastic Surgery and based in a beautiful CQC-approved period building, boasting private consulting suites, a beauty therapy spa as well as minor surgery facilities.]]></text>
            <span><![CDATA[2]]></span>
          </Text>
        </Column>
      </index>
    </content>
    <content id="1199" parentID="1179" level="2" creatorID="0" sortOrder="2" createDate="2014-07-02T15:29:54" updateDate="2014-07-07T20:30:59" nodeName="right-choice" urlName="right-choice" path="-1,1179,1199" isDoc="" nodeType="1177" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="content">
      <highlights id="1200" parentID="1199" level="3" creatorID="0" sortOrder="0" createDate="2014-07-02T15:31:32" updateDate="2014-07-07T20:32:52" nodeName="Highlights" urlName="highlights" path="-1,1179,1199,1200" isDoc="" nodeType="1193" creatorName="Leon Macwan" writerName="Marc" writerID="1" template="1153" nodeTypeAlias="highlights">
        <highlightItem id="1201" parentID="1200" level="4" creatorID="0" sortOrder="0" createDate="2014-07-02T15:32:21" updateDate="2014-07-02T15:33:56" nodeName="Clinic" urlName="clinic" path="-1,1179,1199,1200,1201" isDoc="" nodeType="1191" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="highlightItem">
          <icon><![CDATA[hospital-o]]></icon>
          <heading><![CDATA[The Clinic]]></heading>
          <description><![CDATA[Description]]></description>
          <link><![CDATA[clinic]]></link>
        </highlightItem>
        <highlightItem id="1202" parentID="1200" level="4" creatorID="0" sortOrder="1" createDate="2014-07-02T15:33:08" updateDate="2014-07-02T18:37:38" nodeName="Team" urlName="team" path="-1,1179,1199,1200,1202" isDoc="" nodeType="1191" creatorName="Leon Macwan" writerName="Marc" writerID="1" template="0" nodeTypeAlias="highlightItem">
          <icon><![CDATA[users]]></icon>
          <heading><![CDATA[The team]]></heading>
          <description><![CDATA[Team Description]]></description>
          <link><![CDATA[team]]></link>
        </highlightItem>
        <highlightItem id="1203" parentID="1200" level="4" creatorID="0" sortOrder="2" createDate="2014-07-02T15:34:59" updateDate="2014-07-02T15:58:15" nodeName="Consultants" urlName="consultants" path="-1,1179,1199,1200,1203" isDoc="" nodeType="1191" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="highlightItem">
          <icon><![CDATA[user-md]]></icon>
          <heading><![CDATA[Our consultants]]></heading>
          <description><![CDATA[Test]]></description>
          <link><![CDATA[our-consultants]]></link>
        </highlightItem>
        <highlightItem id="1204" parentID="1200" level="4" creatorID="0" sortOrder="3" createDate="2014-07-02T15:36:11" updateDate="2014-07-02T15:57:54" nodeName="Journey" urlName="journey" path="-1,1179,1199,1200,1204" isDoc="" nodeType="1191" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="highlightItem">
          <icon><![CDATA[road]]></icon>
          <heading><![CDATA[The patient journey]]></heading>
          <description><![CDATA[Test]]></description>
          <link><![CDATA[patient-journey]]></link>
        </highlightItem>
      </highlights>
      <index id="1205" parentID="1199" level="3" creatorID="0" sortOrder="1" createDate="2014-07-02T15:36:56" updateDate="2014-07-03T11:00:25" nodeName="index" urlName="index" path="-1,1179,1199,1205" isDoc="" nodeType="1184" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1207" nodeTypeAlias="index" />
    </content>
    <content id="1216" parentID="1179" level="2" creatorID="0" sortOrder="3" createDate="2014-07-02T19:02:25" updateDate="2014-07-03T14:35:28" nodeName="treatments" urlName="treatments" path="-1,1179,1216" isDoc="" nodeType="1177" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="content">
      <index id="1230" parentID="1216" level="3" creatorID="0" sortOrder="0" createDate="2014-07-03T11:38:12" updateDate="2014-07-03T11:38:12" nodeName="index" urlName="index" path="-1,1179,1216,1230" isDoc="" nodeType="1184" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1215" nodeTypeAlias="index" />
    </content>
    <content id="1225" parentID="1179" level="2" creatorID="0" sortOrder="4" createDate="2014-07-02T19:03:43" updateDate="2014-07-07T20:30:59" nodeName="location" urlName="location" path="-1,1179,1225" isDoc="" nodeType="1177" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="content">
      <index id="1226" parentID="1225" level="3" creatorID="0" sortOrder="1" createDate="2014-07-02T19:03:43" updateDate="2014-07-03T11:38:35" nodeName="index" urlName="index" path="-1,1179,1225,1226" isDoc="" nodeType="1184" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1212" nodeTypeAlias="index" />
    </content>
    <content id="1223" parentID="1179" level="2" creatorID="0" sortOrder="5" createDate="2014-07-02T19:03:10" updateDate="2014-07-07T20:30:59" nodeName="news-and-events" urlName="news-and-events" path="-1,1179,1223" isDoc="" nodeType="1177" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="content">
      <index id="1224" parentID="1223" level="3" creatorID="0" sortOrder="0" createDate="2014-07-02T19:03:10" updateDate="2014-07-04T12:06:06" nodeName="index" urlName="index" path="-1,1179,1223,1224" isDoc="" nodeType="1184" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1213" nodeTypeAlias="index" />
    </content>
    <content id="1227" parentID="1179" level="2" creatorID="0" sortOrder="6" createDate="2014-07-02T19:04:43" updateDate="2014-07-07T20:30:59" nodeName="photo-tour" urlName="photo-tour" path="-1,1179,1227" isDoc="" nodeType="1177" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="content">
      <highlights id="1314" parentID="1227" level="3" creatorID="0" sortOrder="0" createDate="2014-07-07T23:27:44" updateDate="2014-07-07T20:32:37" nodeName="Highlights" urlName="highlights" path="-1,1179,1227,1314" isDoc="" nodeType="1193" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="highlights">
        <highlightItem id="1316" parentID="1314" level="4" creatorID="0" sortOrder="1" createDate="2014-07-07T23:27:44" updateDate="2014-07-07T23:28:00" nodeName="Treatments" urlName="treatments" path="-1,1179,1227,1314,1316" isDoc="" nodeType="1191" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="highlightItem">
          <icon><![CDATA[stethoscope]]></icon>
          <heading><![CDATA[Treatments]]></heading>
          <description><![CDATA[Test]]></description>
          <link><![CDATA[#]]></link>
        </highlightItem>
        <highlightItem id="1317" parentID="1314" level="4" creatorID="0" sortOrder="2" createDate="2014-07-07T23:27:44" updateDate="2014-07-07T23:28:06" nodeName="NewsAndVideos" urlName="newsandvideos" path="-1,1179,1227,1314,1317" isDoc="" nodeType="1191" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="highlightItem">
          <icon><![CDATA[th-list]]></icon>
          <heading><![CDATA[News & Videos]]></heading>
          <description><![CDATA[Test]]></description>
          <link><![CDATA[news-and-events]]></link>
        </highlightItem>
      </highlights>
      <slider id="1310" parentID="1227" level="3" creatorID="0" sortOrder="1" createDate="2014-07-07T23:27:02" updateDate="2014-07-07T23:27:12" nodeName="Slider" urlName="slider" path="-1,1179,1227,1310" isDoc="" nodeType="1286" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="slider">
        <Silde id="1311" parentID="1310" level="4" creatorID="0" sortOrder="0" createDate="2014-07-07T23:27:02" updateDate="2014-07-07T23:27:16" nodeName="Slide 1" urlName="slide-1" path="-1,1179,1227,1310,1311" isDoc="" nodeType="1288" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Silde">
          <line1><![CDATA[Our]]></line1>
          <line2><![CDATA[Consultants]]></line2>
          <description><![CDATA[Description Here]]></description>
          <delay><![CDATA[2]]></delay>
          <filepath>1296</filepath>
        </Silde>
        <Silde id="1313" parentID="1310" level="4" creatorID="0" sortOrder="2" createDate="2014-07-07T23:27:02" updateDate="2014-07-07T23:27:19" nodeName="Slide 3" urlName="slide-3" path="-1,1179,1227,1310,1313" isDoc="" nodeType="1288" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Silde">
          <line1><![CDATA[FEEL]]></line1>
          <line2><![CDATA[AT HOME]]></line2>
          <description><![CDATA[Description Here]]></description>
          <delay><![CDATA[2]]></delay>
          <filepath>1298</filepath>
        </Silde>
      </slider>
      <index id="1228" parentID="1227" level="3" creatorID="0" sortOrder="2" createDate="2014-07-02T19:04:43" updateDate="2014-07-07T20:32:37" nodeName="index" urlName="index" path="-1,1179,1227,1228" isDoc="" nodeType="1184" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1214" nodeTypeAlias="index" />
    </content>
  </Layout>
</root>