<!DOCTYPE root[<!ELEMENT Homeindex ANY>
<!ATTLIST Homeindex id ID #REQUIRED>
 
<!ELEMENT Highlightitem ANY>
<!ATTLIST Highlightitem id ID #REQUIRED>
<!ELEMENT highlights ANY>
<!ATTLIST highlights id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT Layout ANY>
<!ATTLIST Layout id ID #REQUIRED>

]>
<root id="-1">
  <Layout id="1179" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-07-01T18:45:18" updateDate="2014-07-01T18:45:18" nodeName="Master" urlName="master" path="-1,1179" isDoc="" nodeType="1154" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="Layout">
    <home id="1182" parentID="1179" level="2" creatorID="0" sortOrder="0" createDate="2014-07-01T18:54:19" updateDate="2014-07-01T19:16:43" nodeName="Home" urlName="home" path="-1,1179,1182" isDoc="" nodeType="1177" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="home">
      <Homeindex id="1185" parentID="1182" level="3" creatorID="0" sortOrder="0" createDate="2014-07-01T18:56:52" updateDate="2014-07-01T19:16:40" nodeName="Index" urlName="index" path="-1,1179,1182,1185" isDoc="" nodeType="1184" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1183" nodeTypeAlias="Homeindex" />
      <highlights id="1186" parentID="1182" level="3" creatorID="0" sortOrder="1" createDate="2014-07-01T19:00:26" updateDate="2014-07-01T19:16:37" nodeName="HomeHighlights" urlName="homehighlights" path="-1,1179,1182,1186" isDoc="" nodeType="1135" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="1153" nodeTypeAlias="highlights">
        <Highlightitem id="1187" parentID="1186" level="4" creatorID="0" sortOrder="0" createDate="2014-07-01T19:03:07" updateDate="2014-07-01T19:03:07" nodeName="TheRightChoice" urlName="therightchoice" path="-1,1179,1182,1186,1187" isDoc="" nodeType="1176" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Highlightitem">
          <icon><![CDATA[heart]]></icon>
          <heading><![CDATA[The Right Choice]]></heading>
          <description><![CDATA[Description here]]></description>
          <link><![CDATA[TheRightChoice]]></link>
        </Highlightitem>
        <Highlightitem id="1188" parentID="1186" level="4" creatorID="0" sortOrder="1" createDate="2014-07-01T19:04:01" updateDate="2014-07-01T19:04:01" nodeName="Treatments" urlName="treatments" path="-1,1179,1182,1186,1188" isDoc="" nodeType="1176" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Highlightitem">
          <icon><![CDATA[stethoscope]]></icon>
          <heading><![CDATA[Treatments]]></heading>
          <description><![CDATA[Description here]]></description>
          <link><![CDATA[#]]></link>
        </Highlightitem>
        <Highlightitem id="1189" parentID="1186" level="4" creatorID="0" sortOrder="2" createDate="2014-07-01T19:04:56" updateDate="2014-07-01T19:04:56" nodeName="NewsAndEvents" urlName="newsandevents" path="-1,1179,1182,1186,1189" isDoc="" nodeType="1176" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Highlightitem">
          <icon><![CDATA[th-list]]></icon>
          <heading><![CDATA[News & Events]]></heading>
          <description><![CDATA[Description Here]]></description>
          <link><![CDATA[#]]></link>
        </Highlightitem>
        <Highlightitem id="1190" parentID="1186" level="4" creatorID="0" sortOrder="3" createDate="2014-07-01T19:05:41" updateDate="2014-07-01T19:05:41" nodeName="PhotoTour" urlName="phototour" path="-1,1179,1182,1186,1190" isDoc="" nodeType="1176" creatorName="Leon Macwan" writerName="Leon Macwan" writerID="0" template="0" nodeTypeAlias="Highlightitem">
          <icon><![CDATA[video-camera]]></icon>
          <heading><![CDATA[Photo Tour]]></heading>
          <description><![CDATA[Description Here]]></description>
          <link><![CDATA[#]]></link>
        </Highlightitem>
      </highlights>
    </home>
  </Layout>
</root>