<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>HighlightItem</Name>
    <Alias>HighlightItem</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Text</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Related Page</Name>
      <Alias>relatedTo</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Destination URL]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Thumbnail</Name>
      <Alias>thumbnail</Alias>
      <Type>Umbraco.ImageCropper</Type>
      <Definition>2d3ae34d-2265-4df0-9f1d-b4378d49b88a</Definition>
      <Tab>Content</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>External URL</Name>
      <Alias>externalUrl</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[External URL]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Thumbnail Image ALT Value</Name>
      <Alias>thumbnailImageAltValue</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>SEO</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>161</Id>
      <Caption>Content</Caption>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Id>243</Id>
      <Caption>SEO</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>