@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var photosData = uQuery.GetNodesByType("PhotosData");
    ViewBag.UrlPrefix = string.Empty;
    string[] relatedTretamentTreeNode = null;
    IPublishedContent currentTreatment = null;
}

<section class="widget photo-tour photo-tour-3" id="photo-tour">
    @if (photosData.Any())
    {
        <div class="grid isotope">
            @foreach (umbraco.NodeFactory.Node treatment in photosData.First().ChildrenAsList.WhereNotNull())
            {
                var url = string.Format("./{0}", treatment.UrlName);
                relatedTretamentTreeNode = treatment.GetProperty<string>("relatedTreatment").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                currentTreatment = Umbraco.TypedContent(relatedTretamentTreeNode).WhereNotNull().FirstOrDefault();

                if (currentTreatment != null)
                {
                <div class="item item2 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate(0px, 0px);">
                    <div class="pic">
                        <img src="@currentTreatment.GetCropUrl("thumbnail", "thumb")" alt="@currentTreatment.GetPropertyValue("heading")" />
                        <div class="links">
                            <ul>
                                <li><a href="@url" class="fa fa-mail-forward"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h3>@currentTreatment.GetPropertyValue("heading")</h3>
                    <p></p>
                </div>
                }
            }
        </div>
    }
</section>
