@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.Models.RenderModel>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTitleBar = false;
    var photos = Model.Content.Children(c => c.Url.Contains(Request.RawUrl)).FirstOrDefault();
}
<link href="~/Content/css/beforeafter.css" rel="stylesheet" />
<section class="widget photo-tour photo-tour-3" id="photo-tour">
    <div class="grid isotope">
        @foreach (IPublishedContent item in photos.Children)
        {
            <a class="fancybox" id="@item.Id" href="javascript:getPhoto(@item.Id)">
                @Html.Partial("BeforeAndAfterPartial", item)
            </a>
        }
    </div>
    <form method="post">
        <div id="page" style="display: none">1</div>
        <button type="button" class="button more" onclick="getPage()"><i class="fa fa-refresh"></i>Load more</button>
    </form>
</section>