<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Featured</Name>
    <Alias>Featured</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ContentMaster</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>FeaturedItem</DocumentType>
    <DocumentType>FeaturedItemWithDescription</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs>
    <Tab>
      <Id>237</Id>
      <Caption>SEO</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>