<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Treatment Video Item</Name>
    <Alias>TreatmentVideos</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>SpannedItemContainer</Master>
    <AllowedTemplates>
      <Template>TreatmentVideos</Template>
    </AllowedTemplates>
    <DefaultTemplate>TreatmentVideos</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>YouTubeVideoItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs>
    <Tab>
      <Id>154</Id>
      <Caption>Content</Caption>
      <SortOrder>9</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>