<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Generic Container</Name>
    <Alias>GenericContainer</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>SpannedItemContainer</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>PhotoComparision</DocumentType>
    <DocumentType>Testimonial</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>