<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Side Bar</Name>
    <Alias>SideBar</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Text</DocumentType>
    <DocumentType>PhotoText</DocumentType>
    <DocumentType>Collapsible</DocumentType>
    <DocumentType>Link</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Show on Left</Name>
      <Alias>Left</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab></Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Display widget for scheduling appointment </Name>
      <Alias>appointmenWidget</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Content</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>98</Id>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>