<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Photo Comparisions</Name>
    <Alias>photo</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>SpannedItemContainer</Master>
    <AllowedTemplates>
      <Template>Index</Template>
    </AllowedTemplates>
    <DefaultTemplate>Index</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>PhotoComparision</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs>
    <Tab>
      <Id>136</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>