<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Employees Page</Name>
    <Alias>EmployeesPage</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Pages</Master>
    <AllowedTemplates>
      <Template>EmployeesPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>EmployeesPage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>ContentItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>