<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Opening Hours</Name>
    <Alias>OpeningHours</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>WeekDay</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>