<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Highlights Script</name>
  <alias>HighlightsScript</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>HighlightsScript.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>True</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
</macro>