<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Iterator</name>
  <alias>Iterator</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile></scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>False</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
</macro>