<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>MvcRenderAction</name>
  <alias>MvcRenderAction</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>MvcRenderAction.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>True</useInEditor>
  <dontRender>False</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties>
    <property name="Action" alias="action" sortOrder="0" propertyType="Umbraco.Textbox" />
    <property name="Controller" alias="controller" sortOrder="1" propertyType="Umbraco.Textbox" />
    <property name="Formtoken" alias="formtoken" sortOrder="2" propertyType="Umbraco.Textbox" />
  </properties>
</macro>