<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>[uTube] Classic Player</name>
  <alias>uTube.ClassicPlayer</alias>
  <scriptType>uTube.Core.Controls.Player</scriptType>
  <scriptAssembly>uTube.Core</scriptAssembly>
  <scriptingFile></scriptingFile>
  <xslt></xslt>
  <useInEditor>True</useInEditor>
  <dontRender>False</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties>
    <property name="Allow Full Screen" alias="AllowFullScreen" sortOrder="0" propertyType="Umbraco.TrueFalse" />
    <property name="Video Url" alias="VideoUrl" sortOrder="0" propertyType="Umbraco.Textbox" />
    <property name="Video Width" alias="VideoWidth" sortOrder="0" propertyType="Umbraco.Textbox" />
    <property name="Video Id" alias="VideoId" sortOrder="0" propertyType="Umbraco.Textbox" />
    <property name="Aspect Ratio" alias="AspectRatio" sortOrder="0" propertyType="Umbraco.Textbox" />
    <property name="Video Height" alias="VideoHeight" sortOrder="0" propertyType="Umbraco.Textbox" />
  </properties>
</macro>