<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>[uTube] Chromeless Player</name>
  <alias>uTube.ChromelessPlayer</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile></scriptingFile>
  <xslt>uTube/chromeless.player.xslt</xslt>
  <useInEditor>True</useInEditor>
  <dontRender>False</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties>
    <property name="YouTube Video URL or ID" alias="uTubeVideo" sortOrder="0" propertyType="Umbraco.Textbox" />
    <property name="YouTube Video Width in pixels (eg: 320)" alias="uTubeWidth" sortOrder="0" propertyType="Umbraco.Integer" />
    <property name="YouTube Video Height in pixels (eg: 240)" alias="uTubeHeight" sortOrder="0" propertyType="Umbraco.Integer" />
  </properties>
</macro>