<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Folder</Name>
    <Alias>SmartBlogFolder</Alias>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this type of document to create a clean content tree structure.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>SmartBlogMaster</Master>
    <AllowedTemplates>
      <Template>SmartBlogBlog</Template>
    </AllowedTemplates>
    <DefaultTemplate>SmartBlogBlog</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>SmartBlogFolder</DocumentType>
    <DocumentType>SmartBlogYear</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>