<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Default Page</Name>
    <Alias>index</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>ContentMaster</Master>
    <AllowedTemplates>
      <Template>Index</Template>
    </AllowedTemplates>
    <DefaultTemplate>Index</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>index</DocumentType>
    <DocumentType>Featured</DocumentType>
    <DocumentType>Text</DocumentType>
    <DocumentType>PhotoText</DocumentType>
    <DocumentType>GeneralVideoItem</DocumentType>
    <DocumentType>YouTubeVideoItem</DocumentType>
    <DocumentType>Collapsible</DocumentType>
    <DocumentType>SideBar</DocumentType>
    <DocumentType>content</DocumentType>
    <DocumentType>SpecificContentList</DocumentType>
    <DocumentType>columns</DocumentType>
    <DocumentType>Link</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Test</Name>
      <Alias>test</Alias>
      <Type>Umbraco.MemberPicker</Type>
      <Definition>ae32df28-fed1-432e-903d-09eeaca973b7</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Do not show Title Bar</Name>
      <Alias>TitleBar</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Display</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>100</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>102</Id>
      <Caption>Display</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>