<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Treatment Data</Name>
    <Alias>TreatmentData</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>PageData</Master>
    <AllowedTemplates>
      <Template>Index</Template>
    </AllowedTemplates>
    <DefaultTemplate>Index</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Testimonials</DocumentType>
    <DocumentType>photo</DocumentType>
    <DocumentType>TreatmentVideos</DocumentType>
    <DocumentType>TreatmentDetails</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Thumbnail</Name>
      <Alias>thumbnail</Alias>
      <Type>Umbraco.ImageCropper</Type>
      <Definition>2d3ae34d-2265-4df0-9f1d-b4378d49b88a</Definition>
      <Tab>Thumbnail</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Colour</Name>
      <Alias>colour</Alias>
      <Type>Spectrum.Color.Picker</Type>
      <Definition>433fe64c-1a7c-428f-a95d-91e2da009a93</Definition>
      <Tab>Thumbnail</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Price</Name>
      <Alias>price</Alias>
      <Type>Umbraco.Integer</Type>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Tab>Price List</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Type>Umbraco.TextboxMultiple</Type>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Tab>Price List</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Treatment Image ALT Value</Name>
      <Alias>thumbnailImageAltValue</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>SEO</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>175</Id>
      <Caption>Thumbnail</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>176</Id>
      <Caption>Price List</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Id>177</Id>
      <Caption>Display</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Id>252</Id>
      <Caption>SEO</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>