<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Post</Name>
    <Alias>SmartBlogPost</Alias>
    <Icon>icon-umb-content</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this type of document to create posts within a blog. Comments can be created underneath it.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>SmartBlogArticle</Master>
    <AllowedTemplates>
      <Template>SmartBlogPost</Template>
    </AllowedTemplates>
    <DefaultTemplate>SmartBlogPost</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>SmartBlogComment</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Author</Name>
      <Alias>smartBlogAuthor</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Post Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the author of this post. (Try to avoid spelling mistakes because all author names will be listed on the right side of the blog.)]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Date</Name>
      <Alias>smartBlogDate</Alias>
      <Type>Umbraco.DateTime</Type>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Tab>Post Info</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The date and time this post was created.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Category</Name>
      <Alias>smartBlogCategory</Alias>
      <Type>Umbraco.CheckBoxList</Type>
      <Definition>7a451b43-f166-4598-bb48-5a24d4283ead</Definition>
      <Tab>Post Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The categories this post falls under.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Tags</Name>
      <Alias>smartBlogTags</Alias>
      <Type>Umbraco.Tags</Type>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Tab>Post Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tags associated with this post.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Disable Comments</Name>
      <Alias>smartBlogDisableComments</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Post Info</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Disables comments for this post, existing comments will not be shown.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Featured Image</Name>
      <Alias>featuredImage</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Detail</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Banner Colour</Name>
      <Alias>colour</Alias>
      <Type>Spectrum.Color.Picker</Type>
      <Definition>433fe64c-1a7c-428f-a95d-91e2da009a93</Definition>
      <Tab>Detail</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>217</Id>
      <Caption>Post Info</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>233</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>234</Id>
      <Caption>Detail</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>